<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Animacoes</key>
		<dict>
			<key>Derrapando</key>
			<string></string>
			<key>Caindo</key>
			<string></string>
			<key>Escalando</key>
			<string></string>
			<key>Parado</key>
			<string>ParadoDr</string>
			<key>Pulando</key>
			<string>PulandoDr</string>
			<key>Andando</key>
			<string>AndandoDr</string>
		</dict>
		<key>PosInicialJogador</key>
		<string>{400, 600}</string>
		<key>Partes</key>
		<array>
			<dict>
				<key>CoberturaFundo</key>
				<dict>
					<key>NomeImagem</key>
					<string></string>
					<key>PosInicial</key>
					<string></string>
					<key>PosFinal</key>
					<string></string>
				</dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 1534}</string>
					<string>{189, 1534}</string>
					<string>{189, 478}</string>
					<string>{1023, 478}</string>
					<string>{1023, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 480}</string>
					<string>{124, 480}</string>
					<string>{124, 564}</string>
					<string>{340, 567}</string>
					<string>{340, 653}</string>
					<string>{637, 657}</string>
					<string>{643, 283}</string>
					<string>{827, 108}</string>
					<string>{1023, 108}</string>
					<string>{1023, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{866, 727}</string>
						<string>{866, 772}</string>
						<string>{1023, 773}</string>
						<string>{1023, 725}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 110}</string>
					<string>{285, 105}</string>
					<string>{285, 210}</string>
					<string>{506, 211}</string>
					<string>{506, 304}</string>
					<string>{769, 313}</string>
					<string>{765, 924}</string>
					<string>{1023, 927}</string>
					<string>{1023, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 725}</string>
						<string>{0, 773}</string>
						<string>{90, 773}</string>
						<string>{90, 725}</string>
					</array>
					<array>
						<string>{38, 869}</string>
						<string>{296, 868}</string>
						<string>{298, 926}</string>
						<string>{43, 926}</string>
					</array>
					<array>
						<string>{405, 966}</string>
						<string>{400, 1028}</string>
						<string>{666, 1028}</string>
						<string>{666, 967}</string>
					</array>
					<array>
						<string>{38, 598}</string>
						<string>{22, 642}</string>
						<string>{458, 645}</string>
						<string>{463, 592}</string>
					</array>
					<array>
						<string>{514, 493}</string>
						<string>{513, 541}</string>
						<string>{734, 541}</string>
						<string>{736, 492}</string>
					</array>
					<array>
						<string>{238, 370}</string>
						<string>{237, 424}</string>
						<string>{513, 427}</string>
						<string>{518, 372}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CoberturaFundo</key>
				<dict>
					<key>NomeImagem</key>
					<string>Fase1_Parte4_Coberta.png</string>
					<key>PosInicial</key>
					<string>{10, 0}</string>
					<key>PosFinal</key>
					<string>{1023, 357}</string>
				</dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 928}</string>
					<string>{267, 928}</string>
					<string>{273, 645}</string>
					<string>{600, 159}</string>
					<string>{847, 159}</string>
					<string>{847, 205}</string>
					<string>{907, 208}</string>
					<string>{907, 267}</string>
					<string>{953, 268}</string>
					<string>{957, 329}</string>
					<string>{1015, 334}</string>
					<string>{1023, 395}</string>
					<string>{1023, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{395, 1003}</string>
						<string>{393, 1056}</string>
						<string>{730, 1052}</string>
						<string>{728, 1004}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 400}</string>
					<string>{61, 400}</string>
					<string>{61, 476}</string>
					<string>{126, 478}</string>
					<string>{130, 545}</string>
					<string>{192, 548}</string>
					<string>{190, 607}</string>
					<string>{534, 603}</string>
					<string>{534, 708}</string>
					<string>{534, 708}</string>
					<string>{1024, 711}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 60}</string>
					<string>{802, 68}</string>
					<string>{825, 133}</string>
					<string>{1024, 133}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{908, 177}</string>
						<string>{908, 232}</string>
						<string>{1023, 232}</string>
						<string>{1023, 177}</string>
					</array>
					<array>
						<string>{584, 582}</string>
						<string>{584, 634}</string>
						<string>{1023, 634}</string>
						<string>{1023, 582}</string>
					</array>
					<array>
						<string>{70, 733}</string>
						<string>{70, 773}</string>
						<string>{323, 773}</string>
						<string>{330, 733}</string>
					</array>
					<array>
						<string>{434, 811}</string>
						<string>{438, 848}</string>
						<string>{769, 848}</string>
						<string>{769, 811}</string>
					</array>
					<array>
						<string>{235, 923}</string>
						<string>{235, 969}</string>
						<string>{492, 969}</string>
						<string>{492, 923}</string>
					</array>
					<array>
						<string>{530, 1040}</string>
						<string>{530, 1090}</string>
						<string>{720, 1089}</string>
						<string>{723, 1039}</string>
					</array>
					<array>
						<string>{815, 1134}</string>
						<string>{815, 1182}</string>
						<string>{1023, 1182}</string>
						<string>{1023, 1134}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 133}</string>
					<string>{842, 136}</string>
					<string>{842, 191}</string>
					<string>{1023, 193}</string>
					<string>{1023, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 1130}</string>
						<string>{0, 1183}</string>
						<string>{716, 1183}</string>
						<string>{713, 1126}</string>
					</array>
					<array>
						<string>{0, 579}</string>
						<string>{0, 634}</string>
						<string>{249, 634}</string>
						<string>{253, 585}</string>
					</array>
					<array>
						<string>{133, 375}</string>
						<string>{133, 418}</string>
						<string>{461, 418}</string>
						<string>{463, 373}</string>
					</array>
					<array>
						<string>{0, 177}</string>
						<string>{0, 233}</string>
						<string>{103, 232}</string>
						<string>{107, 181}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 193}</string>
					<string>{80, 197}</string>
					<string>{80, 255}</string>
					<string>{1023, 259}</string>
					<string>{1023, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
		</array>
		<key>PontoAlertas</key>
		<array/>
	</dict>
	<dict>
		<key>Animacoes</key>
		<dict>
			<key>Derrapando</key>
			<string>Derrapando</string>
			<key>Caindo</key>
			<string>Caindo</string>
			<key>Escalando</key>
			<string>Escalando</string>
			<key>Parado</key>
			<string>Parado</string>
			<key>Pulando</key>
			<string>Pulando</string>
			<key>Andando</key>
			<string>Andando</string>
		</dict>
		<key>PosInicialJogador</key>
		<string>{10, 200}</string>
		<key>NPC</key>
		<array>
			<dict>
				<key>PosicaoNPC</key>
				<string>{1180, 155}</string>
				<key>Nome</key>
				<string>Maedetodos</string>
			</dict>
			<dict>
				<key>PosicaoNPC</key>
				<string>{3480, 155}</string>
				<key>Nome</key>
				<string>Cacador</string>
			</dict>
			<dict>
				<key>PosicaoNPC</key>
				<string>{1800,1005}</string>
				<key>Nome</key>
				<string>Curandeiro</string>
			</dict>
			<dict>
				<key>PosicaoNPC</key>
				<string>{2700, 835}</string>
				<key>Nome</key>
				<string>Chefe</string>
			</dict>
			<dict>
				<key>PosicaoNPC</key>
				<string>{2000, 995}</string>
				<key>Nome</key>
				<string>Quimm</string>
			</dict>
		</array>
		<key>Partes</key>
		<array>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 130}</string>
					<string>{0, 170}</string>
					<string>{1024, 170}</string>
					<string>{1024, 130}</string>
				</array>
				<key>CoberturaFundo</key>
				<dict>
					<key>NomeImagem</key>
					<string></string>
					<key>PosInicial</key>
					<string>{0, 0}</string>
					<key>PosFinal</key>
					<string>{1023, 357}</string>
				</dict>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>Escalaveis</key>
				<array>
					<array>
						<string>{883, 170}</string>
						<string>{884, 1018}</string>
					</array>
				</array>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 130}</string>
					<string>{0, 170}</string>
					<string>{1024, 170}</string>
					<string>{1024, 130}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{675, 976}</string>
						<string>{675, 1019}</string>
						<string>{1024, 1019}</string>
						<string>{1024, 976}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 130}</string>
					<string>{0, 170}</string>
					<string>{1024, 170}</string>
					<string>{1024, 130}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 972}</string>
						<string>{0, 1016}</string>
						<string>{165, 1016}</string>
						<string>{165, 972}</string>
					</array>
					<array>
						<string>{149, 795}</string>
						<string>{149, 847}</string>
						<string>{910, 847}</string>
						<string>{910, 795}</string>
					</array>
				</array>
				<key>Escalaveis</key>
				<array>
					<array>
						<string>{665, 166}</string>
						<string>{665, 848}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 130}</string>
					<string>{0, 170}</string>
					<string>{1024, 170}</string>
					<string>{1024, 130}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
		</array>
		<key>PontoAlertas</key>
		<array/>
	</dict>
	<dict>
		<key>PosInicialJogador</key>
		<string>{3700, 1300}</string>
		<key>Partes</key>
		<array>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 186}</string>
					<string>{1003, 186}</string>
					<string>{1024, 274}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 274}</string>
					<string>{226, 274}</string>
					<string>{247, 365}</string>
					<string>{711, 365}</string>
					<string>{1024, 113}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{775, 557}</string>
						<string>{765, 580}</string>
						<string>{1024, 580}</string>
						<string>{1024, 557}</string>
					</array>
					<array>
						<string>{725, 800}</string>
						<string>{700, 844}</string>
						<string>{1015, 844}</string>
						<string>{985, 800}</string>
					</array>
					<array>
						<string>{954, 954}</string>
						<string>{942, 988}</string>
						<string>{1024, 988}</string>
						<string>{1024, 954}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 113}</string>
					<string>{35, 78}</string>
					<string>{841, 78}</string>
					<string>{852, 188}</string>
					<string>{884, 234}</string>
					<string>{906, 482}</string>
					<string>{956, 540}</string>
					<string>{995, 675}</string>
					<string>{1024, 702}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 580}</string>
						<string>{65, 580}</string>
						<string>{56, 555}</string>
						<string>{0, 555}</string>
					</array>
					<array>
						<string>{0, 695}</string>
						<string>{456, 695}</string>
						<string>{432, 668}</string>
						<string>{17, 668}</string>
					</array>
					<array>
						<string>{0, 988}</string>
						<string>{245, 988}</string>
						<string>{230, 950}</string>
						<string>{0, 950}</string>
					</array>
					<array>
						<string>{221, 1070}</string>
						<string>{821, 1070}</string>
						<string>{757, 1010}</string>
						<string>{265, 1010}</string>
					</array>
					<array>
						<string>{930, 1037}</string>
						<string>{1024, 1037}</string>
						<string>{1024, 992}</string>
						<string>{957, 992}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 702}</string>
					<string>{268, 932}</string>
					<string>{300, 992}</string>
					<string>{300, 1037}</string>
					<string>{1024, 1037}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 1037}</string>
						<string>{300, 1037}</string>
						<string>{300, 992}</string>
						<string>{0, 992}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Escalaveis</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array/>
				<key>Plataformas</key>
				<array/>
			</dict>
		</array>
		<key>PontoAlertas</key>
		<array/>
	</dict>
</array>
</plist>
