<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Animais</key>
	<dict>
		<key>Leopardinho</key>
		<string>Animal02 - animalFeroz</string>
		<key>Coelho</key>
		<string>Animal01 - Coelho</string>
		<key>Topeira</key>
		<string>Animal04 - Topeira</string>
	</dict>
	<key>Fases</key>
	<array>
		<dict>
			<key>Musicas</key>
			<array>
				<string>MusicaFundo01</string>
				<string>MusicaFundo02</string>
			</array>
			<key>Efeitos</key>
			<array>
				<string>Fundo08 - Vento </string>
				<string>Fundo01 - Passaros </string>
				<string>Fundo07 - Sapos </string>
			</array>
		</dict>
		<dict>
			<key>Musicas</key>
			<array>
				<string>MusicaFundo04</string>
			</array>
			<key>Efeitos</key>
			<array>
				<string>Fundo08 - Vento </string>
				<string>Fundo01 - Passaros </string>
			</array>
		</dict>
		<dict>
			<key>Musicas</key>
			<array>
				<string>MusicaFundo02</string>
				<string>MusicaFundo03</string>
			</array>
			<key>Efeitos</key>
			<array>
				<string>Fundo08 - Vento </string>
				<string>Fundo01 - Passaros </string>
			</array>
		</dict>
	</array>
	<key>NPC</key>
	<dict>
		<key>Maedetodos</key>
		<array>
			<array>
				<string>FalaPersonagens-Pequena-1</string>
				<string>FalaPersonagens-Pequena-2</string>
			</array>
			<array>
				<string>FalaPersonagens-Media-1</string>
				<string>FalaPersonagens-Media-2</string>
			</array>
			<array>
				<string>FalaPersonagens-Grande-1</string>
			</array>
		</array>
		<key>Cacador</key>
		<array>
			<array>
				<string>FalaPersonagens-Pequena-1</string>
				<string>FalaPersonagens-Pequena-2</string>
			</array>
			<array>
				<string>FalaPersonagens-Media-1</string>
				<string>FalaPersonagens-Media-2</string>
			</array>
			<array>
				<string>FalaPersonagens-Grande-1</string>
			</array>
		</array>
		<key>Chefe</key>
		<array>
			<array>
				<string>FalaPersonagens-Pequena-1</string>
				<string>FalaPersonagens-Pequena-2</string>
			</array>
			<array>
				<string>FalaPersonagens-Media-1</string>
				<string>FalaPersonagens-Media-2</string>
			</array>
			<array>
				<string>FalaPersonagens-Grande-1</string>
			</array>
		</array>
		<key>Curandeiro</key>
		<array>
			<array>
				<string>FalaPersonagens-Pequena-1</string>
				<string>FalaPersonagens-Pequena-2</string>
			</array>
			<array>
				<string>FalaPersonagens-Media-1</string>
				<string>FalaPersonagens-Media-2</string>
			</array>
			<array>
				<string>FalaPersonagens-Grande-1</string>
			</array>
		</array>
		<key>Quimm</key>
		<array>
			<array>
				<string>FalaPersonagens-Pequena-1</string>
				<string>FalaPersonagens-Pequena-2</string>
			</array>
			<array>
				<string>FalaPersonagens-Media-1</string>
				<string>FalaPersonagens-Media-2</string>
			</array>
			<array>
				<string>FalaPersonagens-Grande-1</string>
			</array>
		</array>
	</dict>
	<key>Jogador</key>
	<dict>
		<key>Falas</key>
		<array>
			<array>
				<string>FalaPersonagens-Pequena-1</string>
				<string>FalaPersonagens-Pequena-2</string>
			</array>
			<array>
				<string>FalaPersonagens-Media-1</string>
				<string>FalaPersonagens-Media-2</string>
			</array>
			<array>
				<string>FalaPersonagens-Grande-1</string>
			</array>
		</array>
		<key>Acoes</key>
		<dict>
			<key>Pulo</key>
			<string></string>
			<key>Andar</key>
			<string>Passo</string>
			<key>Correr</key>
			<string></string>
			<key>PerderVida</key>
			<string>somPerdeuVida</string>
		</dict>
	</dict>
</dict>
</plist>
