<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Falas</key>
		<dict>
			<key>Aleatoria1</key>
			<array>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Já disse para não ir por aí!</string>
					<key>Imagem</key>
					<string>rostoCientista</string>
				</dict>
			</array>
			<key>Aleatoria2</key>
			<array>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Você não me ouviu? Vá por outro lugar!</string>
					<key>Imagem</key>
					<string>rostoCientista</string>
				</dict>
			</array>
			<key>Aleatoria3</key>
			<array>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Qual o seu problema? Aí é perigoso!</string>
					<key>Imagem</key>
					<string>rostoCientista</string>
				</dict>
			</array>
			<key>Aleatoria4</key>
			<array>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Se você quiser se matar, faça isso sozinho! Pegue outro caminho!</string>
					<key>Imagem</key>
					<string>rostoCientista</string>
				</dict>
			</array>
			<key>RadiacaoAlfa</key>
			<array>
				<dict>
					<key>Sujeito</key>
					<string>Piloto</string>
					<key>Texto</key>
					<string>O que foi isso?</string>
					<key>Imagem</key>
					<string>rostoPiloto</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Pare! O equipamento detectou radiação alí em cima!</string>
					<key>Imagem</key>
					<string>rostoCientista</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Piloto</string>
					<key>Texto</key>
					<string>Radiação?</string>
					<key>Imagem</key>
					<string>rostoPiloto</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Sim. Alguns anos atrás, fizeram alguns testes atômicos nessa região. Está dizendo aqui que é do tipo Alfa, melhor termos cuidado.</string>
					<key>Imagem</key>
					<string>rostoCientista</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Piloto</string>
					<key>Texto</key>
					<string>Existe mais de um tipo de radiação?</string>
					<key>Imagem</key>
					<string>rostoPiloto</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Sim. Alfa, Beta e Gama. A que está alí é do tipo alfa que, mesmo sem muito poder de penetração é muito energética e pode causar queimaduras.</string>
					<key>Imagem</key>
					<string>rostoCientista</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Piloto</string>
					<key>Texto</key>
					<string>Poder de o que?</string>
					<key>Imagem</key>
					<string>rostoPiloto</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Só não vá por alí!</string>
					<key>Imagem</key>
					<string>rostoCientista</string>
				</dict>
			</array>
			<key>RadiacaoBeta</key>
			<array>
				<dict>
					<key>Sujeito</key>
					<string>Piloto</string>
					<key>Texto</key>
					<string>Mais radiação alfa?</string>
					<key>Imagem</key>
					<string>rostoPiloto</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Não, agora é Beta. Muito mais perigosa. Menos sendo menos energética que a alfa, ele tem um poder de penetração muito maior.</string>
					<key>Imagem</key>
					<string>rostoCientista</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Piloto</string>
					<key>Texto</key>
					<string>Em outras palavras... Ela queima mais?</string>
					<key>Imagem</key>
					<string>rostoPiloto</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Em outras palavras, vamos pegar um outro caminho</string>
					<key>Imagem</key>
					<string>rostoCientista</string>
				</dict>
			</array>
		</dict>
	</dict>
	<dict>
		<key>Falas</key>
		<dict>
			<key>Maedetodos</key>
			<dict>
				<key>SemMissao</key>
				<dict>
					<key>Respeito0</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Mãe de todos</string>
							<key>Texto</key>
							<string>Sem desculpas, você vai dormir sem jantar hoje! Mas antes de ir toma esse lanchinho...</string>
							<key>Imagem</key>
							<string>rostoMaedetodos</string>
						</dict>
					</array>
					<key>Respeito10</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Mãe de todos</string>
							<key>Texto</key>
							<string>Se você continuar se comportando assim, ficará de castigo… E sem sobremesa!</string>
							<key>Imagem</key>
							<string>rostoMaedetodos</string>
						</dict>
					</array>
					<key>Respeito20</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Mãe de todos</string>
							<key>Texto</key>
							<string>Você esta se comportando mal ein, mocinho!</string>
							<key>Imagem</key>
							<string>rostoMaedetodos</string>
						</dict>
					</array>
					<key>Respeito30</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Mãe de todos</string>
							<key>Texto</key>
							<string>Se você não fosse tão fofinho eu estaria muito brava com você...</string>
							<key>Imagem</key>
							<string>rostoMaedetodos</string>
						</dict>
					</array>
					<key>Respeito40</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Mãe de todos</string>
							<key>Texto</key>
							<string>Por que você, não esta comendo seus legumes menino?</string>
							<key>Imagem</key>
							<string>rostoMaedetodos</string>
						</dict>
					</array>
					<key>Respeito50</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Mãe de todos</string>
							<key>Texto</key>
							<string>Vai querer repetir o almoço?</string>
							<key>Imagem</key>
							<string>rostoMaedetodos</string>
						</dict>
					</array>
					<key>Respeito60</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Mãe de todos</string>
							<key>Texto</key>
							<string>Você está tão magrinho, que dá dó! Vou dobrar a sua comida.</string>
							<key>Imagem</key>
							<string>rostoMaedetodos</string>
						</dict>
					</array>
					<key>Respeito70</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Mãe de todos</string>
							<key>Texto</key>
							<string>Olha só você está se comportando bem, só falta comer todos os legumes agora!</string>
							<key>Imagem</key>
							<string>rostoMaedetodos</string>
						</dict>
					</array>
					<key>Respeito80</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Mãe de todos</string>
							<key>Texto</key>
							<string>Olha só o que eu tenho aqui… batata doce! Toma. *__*</string>
							<key>Imagem</key>
							<string>rostoMaedetodos</string>
						</dict>
					</array>
					<key>Respeito90</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Mãe de todos</string>
							<key>Texto</key>
							<string>Como é mesmo que se faz, aquela tal de lasanha que você disse gostar tanto?</string>
							<key>Imagem</key>
							<string>rostoMaedetodos</string>
						</dict>
					</array>
					<key>Respeito100</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Mãe de todos</string>
							<key>Texto</key>
							<string>Estou, tão orgulhosa de você meu filho! Vem cá mamãe fez um bolo para você...</string>
							<key>Imagem</key>
							<string>rostoMaedetodos</string>
						</dict>
					</array>
				</dict>
				<key>Missao01</key>
				<dict/>
			</dict>
			<key>Cacador</key>
			<dict>
				<key>SemMissao</key>
				<dict>
					<key>Respeito0</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Caçador</string>
							<key>Texto</key>
							<string>O que foi? Vai encarar?</string>
							<key>Imagem</key>
							<string>rostoCacador</string>
						</dict>
					</array>
					<key>Respeito10</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Caçador</string>
							<key>Texto</key>
							<string>O que você quer, cara de bunda?</string>
							<key>Imagem</key>
							<string>rostoCacador</string>
						</dict>
					</array>
					<key>Respeito20</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Caçador</string>
							<key>Texto</key>
							<string>Hoje posso te oferecer uma arma, mais ja adianto, vai custar tudo o que você tem.</string>
							<key>Imagem</key>
							<string>rostoCacador</string>
						</dict>
					</array>
					<key>Respeito30</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Caçador</string>
							<key>Texto</key>
							<string>Talvez eu faça um desconto para você, pensando bem acho que não.</string>
							<key>Imagem</key>
							<string>rostoCacador</string>
						</dict>
					</array>
					<key>Respeito40</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Caçador</string>
							<key>Texto</key>
							<string>Hoje está um bom dia, mas a sua companhia ainda o estraga.</string>
							<key>Imagem</key>
							<string>rostoCacador</string>
						</dict>
					</array>
					<key>Respeito50</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Caçador</string>
							<key>Texto</key>
							<string>Desembucha! O que você quer?</string>
							<key>Imagem</key>
							<string>rostoCacador</string>
						</dict>
					</array>
					<key>Respeito60</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Caçador</string>
							<key>Texto</key>
							<string>Posso te dar algumas coisas hoje... Mas não fique convencido!</string>
							<key>Imagem</key>
							<string>rostoCacador</string>
						</dict>
					</array>
					<key>Respeito70</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Caçador</string>
							<key>Texto</key>
							<string>Como está indo hoje? as armas que te vendi estão te servindo bem?</string>
							<key>Imagem</key>
							<string>rostoCacador</string>
						</dict>
					</array>
					<key>Respeito80</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Caçador</string>
							<key>Texto</key>
							<string>Inventei algumas armadilhas, acho que você vai achar interessante</string>
							<key>Imagem</key>
							<string>rostoCacador</string>
						</dict>
					</array>
					<key>Respeito90</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Caçador</string>
							<key>Texto</key>
							<string>Preciso aprender a fazer aquilo que você faz com os liquidos esquisitos.</string>
							<key>Imagem</key>
							<string>rostoCacador</string>
						</dict>
					</array>
					<key>Respeito100</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Caçador</string>
							<key>Texto</key>
							<string>Hoje você me ensina a fazer aquelas coisas que soltam fumaça?</string>
							<key>Imagem</key>
							<string>rostoCacador</string>
						</dict>
					</array>
				</dict>
				<key>Missao01</key>
				<dict/>
			</dict>
			<key>Chefe</key>
			<dict>
				<key>SemMissao</key>
				<dict>
					<key>Respeito0</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string></string>
							<key>Texto</key>
							<string>*O chefe (ou os chefes?) parece ocupado discutindo consigo mesmo.*</string>
							<key>Imagem</key>
							<string>rostoPiloto</string>
						</dict>
					</array>
					<key>Respeito10</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string></string>
							<key>Texto</key>
							<string>*O chefe para por um breve instante sua conversa consigo mesmo para te olhar, mas logo volta aos seus afazeres*</string>
							<key>Imagem</key>
							<string>rostoPiloto</string>
						</dict>
					</array>
					<key>Respeito20</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça ranzinza</string>
							<key>Texto</key>
							<string>Hmm, é verdade, nunca tinha reparado nisso.</string>
							<key>Imagem</key>
							<string>rostoChefeRanzinza</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string></string>
							<key>Texto</key>
							<string>*Você tem a sensação de que o assunto é você.*
*Você tem a sensação de que o assunto é você.*</string>
							<key>Imagem</key>
							<string>rostoPiloto</string>
						</dict>
					</array>
					<key>Respeito30</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string></string>
							<key>Texto</key>
							<string>*O chefe te olha de cima abaixo, e sua cabeça menos ranzinza ri* </string>
							<key>Imagem</key>
							<string>rostoPiloto</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça simpática</string>
							<key>Texto</key>
							<string>Oras! Vá caçar, pequenino! Volte quando conseguir carregar uma girafa ou um elefante! Igual a nós quando bebê!</string>
							<key>Imagem</key>
							<string>rostoChefeSimpatico</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça ranzinza</string>
							<key>Texto</key>
							<string>Meh. Mal consegue carregar o chapéu esquisito, esse aí.</string>
							<key>Imagem</key>
							<string>rostoChefeRanzinza</string>
						</dict>
					</array>
					<key>Respeito40</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça simpática</string>
							<key>Texto</key>
							<string>Olá pequeno! Como sempre, branco como um ovo!</string>
							<key>Imagem</key>
							<string>rostoChefeSimpatico</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça ranzinza</string>
							<key>Texto</key>
							<string>Argh! Desça já da árvore e não venha aqui de novo!</string>
							<key>Imagem</key>
							<string>rostoChefeRanzinza</string>
						</dict>
					</array>
					<key>Respeito50</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça simpática</string>
							<key>Texto</key>
							<string>Saudações, amigo da aldeia.</string>
							<key>Imagem</key>
							<string>rostoChefeSimpatico</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça ranzinza</string>
							<key>Texto</key>
							<string>Estamos ocupado! Suma daqui com essa cara feia!</string>
							<key>Imagem</key>
							<string>rostoChefeRanzinza</string>
						</dict>
					</array>
					<key>Respeito60</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string></string>
							<key>Texto</key>
							<string>*O chefe cochicha consigo mesmo e olha para você, mas depois finge que não te viu.*</string>
							<key>Imagem</key>
							<string>rostoPiloto</string>
						</dict>
					</array>
					<key>Respeito70</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça ranzinza</string>
							<key>Texto</key>
							<string>Grr...</string>
							<key>Imagem</key>
							<string>rostoChefeRanzinza</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça simpática</string>
							<key>Texto</key>
							<string>Vamos! Você prometeu!</string>
							<key>Imagem</key>
							<string>rostoChefeSimpatico</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça ranzinza</string>
							<key>Texto</key>
							<string>Tá, tá.. Saudações, aldeão branco.</string>
							<key>Imagem</key>
							<string>rostoChefeRanzinza</string>
						</dict>
					</array>
					<key>Respeito80</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça simpática</string>
							<key>Texto</key>
							<string>Aldeão branco! Que agradável surpresa. Estávamos aqui conversando sob-</string>
							<key>Imagem</key>
							<string>rostoChefeSimpatico</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça ranzinza</string>
							<key>Texto</key>
							<string>-Sobre nada da sua conta! Hmpf!</string>
							<key>Imagem</key>
							<string>rostoChefeRanzinza</string>
						</dict>
					</array>
					<key>Respeito90</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça ranzinza</string>
							<key>Texto</key>
							<string>Saudações, aldeão branco.</string>
							<key>Imagem</key>
							<string>rostoChefeRanzinza</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça simpática</string>
							<key>Texto</key>
							<string>Saudações! Sempre bom ver essa sua cara branca e magrela.</string>
							<key>Imagem</key>
							<string>rostoChefeSimpatico</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string></string>
							<key>Texto</key>
							<string>Ele solta uma forte risada, enquanto a outra face
sorri sutilmente</string>
							<key>Imagem</key>
							<string>rostoPiloto</string>
						</dict>
					</array>
					<key>Respeito100</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça simpática</string>
							<key>Texto</key>
							<string>Saudações, herói branco!</string>
							<key>Imagem</key>
							<string>rostoChefeSimpatico</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça simpática</string>
							<key>Texto</key>
							<string>Espero que esteja hoje no jantar! É sempre bom quando podemos conversar!</string>
							<key>Imagem</key>
							<string>rostoChefeSimpatico</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça ranzinza</string>
							<key>Texto</key>
							<string>É sim, ainda mais quando você traz comida pra eu.</string>
							<key>Imagem</key>
							<string>rostoChefeRanzinza</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça simpática</string>
							<key>Texto</key>
							<string>Eu quis dizer só a companhia mesmo...</string>
							<key>Imagem</key>
							<string>rostoChefeSimpatico</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça ranzinza</string>
							<key>Texto</key>
							<string>Vai negar agora? A barriga é de nós dois!</string>
							<key>Imagem</key>
							<string>rostoChefeRanzinza</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Chefe - Cabeça simpática</string>
							<key>Texto</key>
							<string>Tá bem, vai, você tem razão.</string>
							<key>Imagem</key>
							<string>rostoChefeSimpatico</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string></string>
							<key>Texto</key>
							<string>*E tornam a conversar, contentemente, um com o outro*</string>
							<key>Imagem</key>
							<string>rostoPiloto</string>
						</dict>
					</array>
				</dict>
				<key>Missao01</key>
				<dict/>
			</dict>
			<key>Curandeiro</key>
			<dict>
				<key>SemMissao</key>
				<dict>
					<key>Respeito0</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Pilto</string>
							<key>Texto</key>
							<string>O velho senhor parece ocupado cuidando do Dr.Quimm, melhor não perturbá-lo agora</string>
							<key>Imagem</key>
							<string>rostoPiloto</string>
						</dict>
					</array>
					<key>Respeito10</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Curandeiro</string>
							<key>Texto</key>
							<string>Alma jovem sinto... Que ainda precisa se mostrar digno de ser um morador da floresta</string>
							<key>Imagem</key>
							<string>rostoCurandeiro</string>
						</dict>
					</array>
					<key>Respeito20</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Curandeiro</string>
							<key>Texto</key>
							<string>Olá, alma jovem... nada mais que um broto, numa floresta de salgueiros.</string>
							<key>Imagem</key>
							<string>rostoCurandeiro</string>
						</dict>
					</array>
					<key>Respeito30</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Curandeiro</string>
							<key>Texto</key>
							<string>O crescer vem de dentro! Respeite o que te rodeia, e o que te rodeia te respeitará. Dê tempo ás coisas...</string>
							<key>Imagem</key>
							<string>rostoCurandeiro</string>
						</dict>
					</array>
					<key>Respeito40</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Curandeiro</string>
							<key>Texto</key>
							<string>Vejo que meu povo começa a te confiar... Isso ser bom ou ruim? Não cabe a mim medir...</string>
							<key>Imagem</key>
							<string>rostoCurandeiro</string>
						</dict>
					</array>
					<key>Respeito50</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Curandeiro</string>
							<key>Texto</key>
							<string>Saudações, Aldeão Branco... O que lhe traz a mim? Estou um pouco ocupado agora...</string>
							<key>Imagem</key>
							<string>rostoCurandeiro</string>
						</dict>
					</array>
					<key>Respeito60</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Curandeiro</string>
							<key>Texto</key>
							<string>Sempre bom sentir a presença da sua calorosa alma... hmmm... Ou será que era só o chulé mesmo? Hmm...</string>
							<key>Imagem</key>
							<string>rostoCurandeiro</string>
						</dict>
					</array>
					<key>Respeito70</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Curandeiro</string>
							<key>Texto</key>
							<string>Querido Aldeão Branco! Venha, dê um abraço neste velho... Tome cuidado em suas caçadas! A mãe natureza é bondosa conosco, mas ao mesmo tempo feroz... Sinta-a, e repeite-a!</string>
							<key>Imagem</key>
							<string>rostoCurandeiro</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string></string>
							<key>Texto</key>
							<string>*você o abraça e sente as cascas de suas costas. Lembram a textura de uma velha árvore*</string>
							<key>Imagem</key>
							<string>rostoPiloto</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Curandeiro</string>
							<key>Texto</key>
							<string>Tome cuidado em suas caçadas! A mãe natureza é bondosa conosco, mas ao mesmo tempo feroz... Sinta-a, e repeite-a!</string>
							<key>Imagem</key>
							<string>rostoCurandeiro</string>
						</dict>
					</array>
					<key>Respeito80</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Curandeiro</string>
							<key>Texto</key>
							<string>Como vão estas jovens pernas? Enquanto elas o conseguirem levar, não há vento contrário que o pare!</string>
							<key>Imagem</key>
							<string>rostoCurandeiro</string>
						</dict>
					</array>
					<key>Respeito90</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Curandeiro</string>
							<key>Texto</key>
							<string>Um homem não vive só de comidas e bebidas, meu jovem! Um dia você será como eu... </string>
							<key>Imagem</key>
							<string>rostoCurandeiro</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Curandeiro</string>
							<key>Texto</key>
							<string>e contemplar a imensidão do cobertor cintilante em cima de nós vai te alimentar mais do que qualquer banquete... Guarde estas palavras!</string>
							<key>Imagem</key>
							<string>rostoCurandeiro</string>
						</dict>
					</array>
					<key>Respeito100</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Curandeiro</string>
							<key>Texto</key>
							<string>Seja bem-vindo á minha casa, Herói branco, como sempre.</string>
							<key>Imagem</key>
							<string>rostoCurandeiro</string>
						</dict>
					</array>
				</dict>
				<key>Missao01</key>
				<dict/>
			</dict>
			<key>Quimm</key>
			<dict>
				<key>SemMissao</key>
				<dict>
					<key>Respeito0</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Pilto</string>
							<key>Texto</key>
							<string>Dr. Quimm não diz nada, mas parece estar revoltado por estar na situação que está... Melhor deixá-lo quieto por um tempo.</string>
							<key>Imagem</key>
							<string>rostoPiloto</string>
						</dict>
					</array>
					<key>Respeito10</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Dr.Quimm</string>
							<key>Texto</key>
							<string>Primeiro o helicóptero, depois me larga no chão, e agora isso! Se ao menos eu estivesse com meus aparatos, me prepararia um analgésico!</string>
							<key>Imagem</key>
							<string>rostoCientista</string>
						</dict>
					</array>
					<key>Respeito20</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Dr.Quimm</string>
							<key>Texto</key>
							<string>Ah, é você, moleque. Sabe, até que estou começando a gostar deste lugar! Quem sabe depois disto eu seja melhor reconhecido pelo que faço...</string>
							<key>Imagem</key>
							<string>rostoCientista</string>
						</dict>
					</array>
					<key>Respeito30</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Dr.Quimm</string>
							<key>Texto</key>
							<string>Não importa o quanto eu o estude, nunca vou compreender como aquele tal chefe conseguiu crescer até o tamanho que é! Pelo amor de Marie Curie...</string>
							<key>Imagem</key>
							<string>rostoCientista</string>
						</dict>
					</array>
					<key>Respeito40</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Piloto</string>
							<key>Texto</key>
							<string>O Dr. está cantarolando para sí enquanto realiza seus experimentos, Parece estar se divertindo...</string>
							<key>Imagem</key>
							<string>rostoPiloto</string>
						</dict>
					</array>
					<key>Respeito50</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Dr.Quimm</string>
							<key>Texto</key>
							<string>Ora, bom dia, garoto! Estou ocupado agora, volte mais tarde, por favor.</string>
							<key>Imagem</key>
							<string>rostoCientista</string>
						</dict>
					</array>
					<key>Respeito60</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Dr.Quimm</string>
							<key>Texto</key>
							<string>Heh, vejo que este velho gosta de você! Você deve ouvir bem as palavras dele, ele é muito sábio!</string>
							<key>Imagem</key>
							<string>rostoCientista</string>
						</dict>
					</array>
					<key>Respeito70</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Dr.Quimm</string>
							<key>Texto</key>
							<string>Contanto que eu não seja perturbado, sinto que posso viver por aqui pra sempre! Tantas coisas a descobrir, tantas soluções a experimentar!</string>
							<key>Imagem</key>
							<string>rostoCientista</string>
						</dict>
					</array>
					<key>Respeito80</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Dr.Quimm</string>
							<key>Texto</key>
							<string>Meus recentes experimentos me levaram á conclusão de que não haverá conclusão para meus futuros experimentos... Pelo menos não no espaço amostral presente.</string>
							<key>Imagem</key>
							<string>rostoCientista</string>
						</dict>
					</array>
					<key>Respeito90</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Dr.Quimm</string>
							<key>Texto</key>
							<string>Com a graça de Bohr, descobri depois de muitos experimentos, o remédio perfeito para a dor nas costas! Ele consiste basicamente em sentar com as costas bem apoiadas, e com o bumbum todo...</string>
							<key>Imagem</key>
							<string>rostoCientista</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Dr.Quimm</string>
							<key>Texto</key>
							<string>O que? Esperava um elixir mágico?</string>
							<key>Imagem</key>
							<string>rostoCientista</string>
						</dict>
					</array>
					<key>Respeito100</key>
					<array>
						<dict>
							<key>Sujeito</key>
							<string>Curandeiro</string>
							<key>Texto</key>
							<string>A possibilidade de deixar esta ilha é interessante, mas ao mesmo tempo... Meu coração me pede pra ficar, caso contrário sofrerei da liberação de uma quantidade exacerbada de cortisol!</string>
							<key>Imagem</key>
							<string>curandeiro</string>
						</dict>
						<dict>
							<key>Sujeito</key>
							<string>Curandeiro</string>
							<key>Texto</key>
							<string>Oh, céus, as decisões...</string>
							<key>Imagem</key>
							<string>curandeiro</string>
						</dict>
					</array>
				</dict>
				<key>Missao01</key>
				<dict/>
			</dict>
		</dict>
	</dict>
</array>
</plist>
