<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Falas</key>
		<dict>
			<key>Aleatoria1</key>
			<array>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Já disse para não ir por aí!</string>
					<key>Imagem</key>
					<string>cientista</string>
				</dict>
			</array>
			<key>Aleatoria2</key>
			<array>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Você não me ouviu? Vá por outro lugar!</string>
					<key>Imagem</key>
					<string>cientista</string>
				</dict>
			</array>
			<key>Aleatoria3</key>
			<array>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Qual o seu problema? Aí é perigoso!</string>
					<key>Imagem</key>
					<string>cientista</string>
				</dict>
			</array>
			<key>Aleatoria4</key>
			<array>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Se você quiser se matar, faça isso sozinho! Pegue outro caminho!</string>
					<key>Imagem</key>
					<string>cientista</string>
				</dict>
			</array>
			<key>RadiacaoAlfa</key>
			<array>
				<dict>
					<key>Sujeito</key>
					<string>Piloto</string>
					<key>Texto</key>
					<string>O que foi isso?</string>
					<key>Imagem</key>
					<string>piloto</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Pare! O equipamento detectou radiação alí em cima!</string>
					<key>Imagem</key>
					<string>cientista</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Piloto</string>
					<key>Texto</key>
					<string>Radiação?</string>
					<key>Imagem</key>
					<string>piloto</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Sim. Alguns anos atrás, fizeram alguns testes atômicos nessa região. Está dizendo aqui que é do tipo Alfa, melhor termos cuidado.</string>
					<key>Imagem</key>
					<string>cientista</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Piloto</string>
					<key>Texto</key>
					<string>Existe mais de um tipo de radiação?</string>
					<key>Imagem</key>
					<string>piloto</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Sim. Alfa, Beta e Gama. A que está alí é do tipo alfa que, mesmo sem muito poder de penetração é muito energética e pode causar queimaduras.</string>
					<key>Imagem</key>
					<string>cientista</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Piloto</string>
					<key>Texto</key>
					<string>Poder de o que?</string>
					<key>Imagem</key>
					<string>piloto</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Só não vá por alí!</string>
					<key>Imagem</key>
					<string>cientista</string>
				</dict>
			</array>
			<key>RadiacaoBeta</key>
			<array>
				<dict>
					<key>Sujeito</key>
					<string>Piloto</string>
					<key>Texto</key>
					<string>Mais radiação alfa?</string>
					<key>Imagem</key>
					<string>piloto</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Não, agora é Beta. Muito mais perigosa. Menos sendo menos energética que a alfa, ele tem um poder de penetração muito maior.</string>
					<key>Imagem</key>
					<string>cientista</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Piloto</string>
					<key>Texto</key>
					<string>Em outras palavras... Ela queima mais?</string>
					<key>Imagem</key>
					<string>piloto</string>
				</dict>
				<dict>
					<key>Sujeito</key>
					<string>Cientista</string>
					<key>Texto</key>
					<string>Em outras palavras, vamos pegar um outro caminho</string>
					<key>Imagem</key>
					<string>cientista</string>
				</dict>
			</array>
		</dict>
	</dict>
</array>
</plist>
