<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena1</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena2</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Piloto</string>
			<key>Texto</key>
			<string>Uau! Um dos maiores cientistas do mundo está no meu helicóptero... Preciso dizer algo...</string>
			<key>Fundo</key>
			<string>cena3</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Piloto</string>
			<key>Texto</key>
			<string>B-bonito o jaleco do senhor.</string>
			<key>Fundo</key>
			<string>cena4</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Cientista</string>
			<key>Texto</key>
			<string>É algodão egípcio </string>
			<key>Fundo</key>
			<string>cena5</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Piloto</string>
			<key>Texto</key>
			<string>Que legal! Onde o senhor conseguiu?</string>
			<key>Fundo</key>
			<string>cena6</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Cientista</string>
			<key>Texto</key>
			<string>Egito</string>
			<key>Fundo</key>
			<string>cena7</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena8</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena9</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Piloto</string>
			<key>Texto</key>
			<string>Mas porque alguém como o senhor está indo para uma ilha como aquela? Meu primo, ele é marinheiro, ele disse que uma vez viu monstros naquela ilha.</string>
			<key>Fundo</key>
			<string>cena10</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena11</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Cientista</string>
			<key>Texto</key>
			<string>Tenho um trabalho a fazer.</string>
			<key>Fundo</key>
			<string>cena12</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Piloto</string>
			<key>Texto</key>
			<string>Entendo... que trabalho é esse?</string>
			<key>Fundo</key>
			<string>cena13</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Cientista</string>
			<key>Texto</key>
			<string>Coleta de amostras</string>
			<key>Fundo</key>
			<string>cena14</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Piloto</string>
			<key>Texto</key>
			<string>Amostras... Legal! De que?</string>
			<key>Fundo</key>
			<string>cena15</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Cientista</string>
			<key>Texto</key>
			<string>Material radioativo.</string>
			<key>Fundo</key>
			<string>cena16</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena17</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena18</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Piloto</string>
			<key>Texto</key>
			<string>RADIOATIVO?!</string>
			<key>Fundo</key>
			<string>cena19</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena20</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Cientista</string>
			<key>Texto</key>
			<string>Pela barbas de Darwin! O que foi aquilo? </string>
			<key>Fundo</key>
			<string>cena21</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Piloto </string>
			<key>Texto</key>
			<string>Precisamos sair daqui.</string>
			<key>Fundo</key>
			<string>cena22</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena23</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena24</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena25</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena26</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena26</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena27</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena28</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena29</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena30</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena31</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string></string>
			<key>Texto</key>
			<string></string>
			<key>Fundo</key>
			<string>cena32</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Piloto</string>
			<key>Texto</key>
			<string>O senhor está bem?</string>
			<key>Fundo</key>
			<string>cena33</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Cientista</string>
			<key>Texto</key>
			<string>Não! Machuquei a minha perna!</string>
			<key>Fundo</key>
			<string>cena34</string>
		</dict>
		<dict>
			<key>Sujeito</key>
			<string>Cientista</string>
			<key>Texto</key>
			<string>Venha, eu te ajudo. Precisamos encontrar algum lugar seguro, já está anoitecendo.</string>
			<key>Fundo</key>
			<string>cena35</string>
		</dict>
	</array>
</array>
</plist>
