<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Nome</key>
		<string></string>
		<key>Recompensa</key>
		<string></string>
		<key>Disparador</key>
		<integer>0</integer>
		<key>Respeito</key>
		<integer>0</integer>
		<key>ID</key>
		<string></string>
		<key>Partes</key>
		<array>
			<dict>
				<key>Descricao</key>
				<string></string>
				<key>NPCRequisito</key>
				<string></string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<string></string>
				<key>ItemEntregue</key>
				<string></string>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Missão 01 - Ajudando a mãe de todos</string>
		<key>Recompensa</key>
		<string>Lança</string>
		<key>Disparador</key>
		<string>Maedetodos</string>
		<key>Respeito</key>
		<integer>10</integer>
		<key>ID</key>
		<string>Missao01</string>
		<key>Partes</key>
		<array>
			<dict>
				<key>Descricao</key>
				<string>Fale com a mãe de todos, ela tem um favor a pedir.</string>
				<key>NPCRequisito</key>
				<string>Maedetodos</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<string></string>
				<key>ItemEntregue</key>
				<string></string>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Descricao</key>
				<string>Vá até o jogador e peça a carne que ele caçou hoje.</string>
				<key>NPCRequisito</key>
				<string>Cacador</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<string></string>
				<key>ItemEntregue</key>
				<string></string>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Descricao</key>
				<string></string>
				<key>NPCRequisito</key>
				<string></string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<string></string>
				<key>ItemEntregue</key>
				<string></string>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Descricao</key>
				<string></string>
				<key>NPCRequisito</key>
				<string></string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<string></string>
				<key>ItemEntregue</key>
				<string></string>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Descricao</key>
				<string></string>
				<key>NPCRequisito</key>
				<string></string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<string></string>
				<key>ItemEntregue</key>
				<string></string>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Descricao</key>
				<string></string>
				<key>NPCRequisito</key>
				<string></string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<string></string>
				<key>ItemEntregue</key>
				<string></string>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Descricao</key>
				<string></string>
				<key>NPCRequisito</key>
				<string></string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<string></string>
				<key>ItemEntregue</key>
				<string></string>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Descricao</key>
				<string></string>
				<key>NPCRequisito</key>
				<string></string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<string></string>
				<key>ItemEntregue</key>
				<string></string>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
