<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Nome</key>
		<string>Bicarbonato de sódio</string>
		<key>Formula</key>
		<string>NaHCO</string>
		<key>Imagem</key>
		<string>Maleta_NaHCO</string>
		<key>Elementos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Hidreto de lítio e alumínio </string>
		<key>Formula</key>
		<string>LiAlH4</string>
		<key>Imagem</key>
		<string>Maleta_LiAlH4</string>
		<key>Elementos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Ácido Sulfúrico</string>
		<key>Formula</key>
		<string>H2SO4</string>
		<key>Imagem</key>
		<string>Maleta_H2SO4</string>
		<key>Elementos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Água</string>
		<key>Formula</key>
		<string>H2O</string>
		<key>Imagem</key>
		<string>Maleta_H2O</string>
		<key>Elementos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Ácido Fosfórico</string>
		<key>Formula</key>
		<string>H3PO4</string>
		<key>Imagem</key>
		<string>Maleta_H3PO4</string>
		<key>Elementos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Nitrato de Chumbo</string>
		<key>Formula</key>
		<string>Pb(NO3)2</string>
		<key>Imagem</key>
		<string>Maleta_Pb(NO3)2</string>
		<key>Elementos</key>
		<array>
			<string>Pb</string>
			<string>N</string>
			<string>N</string>
			<string>O</string>
			<string>O</string>
			<string>O</string>
			<string>O</string>
			<string>O</string>
			<string>O</string>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Ácido Acético</string>
		<key>Formula</key>
		<string>C2H4O2</string>
		<key>Imagem</key>
		<string>Maleta_C2H4O2</string>
		<key>Elementos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Hidróxido de amônio</string>
		<key>Formula</key>
		<string>NH4OH</string>
		<key>Imagem</key>
		<string>Maleta_NH4OH</string>
		<key>Elementos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Sal</string>
		<key>Formula</key>
		<string>NaCl</string>
		<key>Imagem</key>
		<string>Maleta_NaCl</string>
		<key>Elementos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Acetona</string>
		<key>Formula</key>
		<string>C3H6O</string>
		<key>Imagem</key>
		<string>Maleta_C3H6O</string>
		<key>Elementos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Iodeto de Potássio</string>
		<key>Formula</key>
		<string>KI</string>
		<key>Imagem</key>
		<string>Maleta_KI</string>
		<key>Elementos</key>
		<array>
			<string>K</string>
			<string>I</string>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Acetonitrila</string>
		<key>Formula</key>
		<string>C2H3N</string>
		<key>Imagem</key>
		<string>Maleta_C2H3N</string>
		<key>Elementos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Ácido Oxálico</string>
		<key>Formula</key>
		<string>H2C2O</string>
		<key>Imagem</key>
		<string>Maleta_H2C2O</string>
		<key>Elementos</key>
		<array>
			<string></string>
			<string></string>
		</array>
	</dict>
</array>
</plist>
