<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SomFundo</key>
		<string></string>
		<key>PosInicialJogador</key>
		<string>{2000, 600}</string>
		<key>Animacoes</key>
		<dict>
			<key>Derrapando</key>
			<string>DerrapandoDr</string>
			<key>Caindo</key>
			<string>CaindoDr</string>
			<key>Escalando</key>
			<string></string>
			<key>Parado</key>
			<string>ParadoDr</string>
			<key>Pulando</key>
			<string>PulandoDr</string>
			<key>Andando</key>
			<string>AndandoDr</string>
		</dict>
		<key>Partes</key>
		<array>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 1275}</string>
					<string>{275, 250}</string>
					<string>{445, 250}
</string>
					<string>{810, 320}
</string>
					<string>{925, 320}
</string>
					<string>{925, 430}
</string>
					<string>{1024, 430}
</string>
					<string>{1024, 0}
</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 430}
</string>
					<string>{70, 430}
</string>
					<string>{75, 390}
</string>
					<string>{145, 385}
</string>
					<string>{170, 320}
</string>
					<string>{230, 320}
</string>
					<string>{270, 255}
</string>
					<string>{330, 255}
</string>
					<string>{365, 190}
</string>
					<string>{435, 190}
</string>
					<string>{435, 620}
</string>
					<string>{495, 620}
</string>
					<string>{495, 365}
</string>
					<string>{505, 365}
</string>
					<string>{505, 310}
</string>
					<string>{1024, 310}
</string>
					<string>{1024, 0}
</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{120, 490}</string>
						<string>{120, 535}</string>
						<string>{435, 535}</string>
						<string>{435, 485}</string>
					</array>
					<array>
						<string>{295, 580}</string>
						<string>{295, 620}</string>
						<string>{435, 620}
{435, 580}</string>
						<string>{435, 580}</string>
					</array>
					<array>
						<string>{435, 580}</string>
					</array>
					<array>
						<string>{495, 580}</string>
						<string>{495, 620}</string>
						<string>{585, 620}</string>
						<string>{585, 580}</string>
					</array>
					<array>
						<string>{495, 365}</string>
						<string>{495, 415}</string>
						<string>{850, 415}</string>
						<string>{850, 365}</string>
					</array>
					<array>
						<string>{830, 445}</string>
						<string>{825, 485}</string>
						<string>{1024, 485}</string>
						<string>{1024, 445}</string>
					</array>
					<array>
						<string>{965, 655}</string>
						<string>{965, 695}
</string>
						<string>{1024, 695}
</string>
						<string>{1024, 655}
</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 310}</string>
					<string>{570, 310}</string>
					<string>{570, 65}
</string>
					<string>{705, 65}
</string>
					<string>{705, 700}
</string>
					<string>{765, 700}
</string>
					<string>{770, 255}
</string>
					<string>{890, 255}
</string>
					<string>{1024, 275}
</string>
					<string>{1024, 0}
</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 530}</string>
						<string>{0, 570}
</string>
						<string>{200, 570}
</string>
						<string>{200, 530}
</string>
					</array>
					<array>
						<string>{0, 655}</string>
						<string>{0, 695}
</string>
						<string>{145, 695}
</string>
						<string>{145, 655}
</string>
					</array>
					<array>
						<string>{240, 705}</string>
						<string>{240, 745}
</string>
						<string>{940, 745}
</string>
						<string>{940, 700}
</string>
					</array>
					<array>
						<string>{770, 590}</string>
						<string>{770, 630}
</string>
						<string>{1024, 630}
</string>
						<string>{1024, 590}
</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 275}
</string>
					<string>{315, 320}
</string>
					<string>{410, 325}
</string>
					<string>{565, 60}
</string>
					<string>{710, 60}
</string>
					<string>{730, 130}
</string>
					<string>{785, 130}
</string>
					<string>{800, 190}
</string>
					<string>{845, 190}
</string>
					<string>{865, 255}
</string>
					<string>{915, 255}
</string>
					<string>{930, 310}
</string>
					<string>{1024, 315}
</string>
					<string>{1024, 0}
</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 590}</string>
						<string>{0, 630}
</string>
						<string>{125, 630}
</string>
						<string>{125, 590}
</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 315}</string>
					<string>{265, 335}
</string>
					<string>{265, 380}
</string>
					<string>{757, 380}
</string>
					<string>{757, 0}
</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
		</array>
		<key>PontosAlertas</key>
		<array>
			<dict>
				<key>Posicao</key>
				<string>{1000, 800}</string>
				<key>KeyDoAlerta</key>
				<string>RadiacaoAlfa</string>
			</dict>
			<dict>
				<key>Posicao</key>
				<string>{2413, 650}</string>
				<key>KeyDoAlerta</key>
				<string>RadiacaoBeta</string>
			</dict>
			<dict>
				<key>Aleatoria</key>
				<array>
					<string>Aleatoria1</string>
					<string>Aleatoria2</string>
					<string>Aleatoria3</string>
					<string>Aleatoria4</string>
				</array>
				<key>Posicao</key>
				<string>{1250, 500}</string>
			</dict>
			<dict>
				<key>Aleatoria</key>
				<array>
					<string>Aleatoria1</string>
					<string>Aleatoria2</string>
					<string>Aleatoria3</string>
					<string>Aleatoria4</string>
				</array>
				<key>Posicao</key>
				<string>{2520, 650}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SomFundo</key>
		<string>MusicaFundo04</string>
		<key>PosInicialJogador</key>
		<string>{100, 400}</string>
		<key>Animacoes</key>
		<dict>
			<key>Derrapando</key>
			<string>Derrapando</string>
			<key>Caindo</key>
			<string>Caindo</string>
			<key>Escalando</key>
			<string>Escalando</string>
			<key>Parado</key>
			<string>Parado</string>
			<key>Pulando</key>
			<string>Pulando</string>
			<key>Andando</key>
			<string>Andando</string>
		</dict>
		<key>NPC</key>
		<array>
			<dict>
				<key>PosicaoNPC</key>
				<string>{800, 220}</string>
				<key>Nome</key>
				<string>Maedetodos</string>
			</dict>
			<dict>
				<key>PosicaoNPC</key>
				<string>{2060, 220}</string>
				<key>Nome</key>
				<string>Cacador</string>
			</dict>
			<dict>
				<key>PosicaoNPC</key>
				<string>{1400, 240}</string>
				<key>Nome</key>
				<string>Curandeiro</string>
			</dict>
			<dict>
				<key>PosicaoNPC</key>
				<string>{1780, 245}</string>
				<key>Nome</key>
				<string>Chefe</string>
			</dict>
			<dict>
				<key>PosicaoNPC</key>
				<string>{1390, 240}</string>
				<key>Nome</key>
				<string>Quimm</string>
			</dict>
		</array>
		<key>Partes</key>
		<array>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 180}</string>
					<string>{1024, 180}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 180}</string>
					<string>{1024, 180}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 180}</string>
					<string>{650, 180}</string>
					<string>{650, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
		</array>
		<key>PontoAlertas</key>
		<array/>
	</dict>
	<dict>
		<key>SomFundo</key>
		<string></string>
		<key>Animacoes</key>
		<dict>
			<key>Derrapando</key>
			<string>Derrapando</string>
			<key>Caindo</key>
			<string>Caindo</string>
			<key>Escalando</key>
			<string>Escalando</string>
			<key>Parado</key>
			<string>Parado</string>
			<key>Pulando</key>
			<string>Pulando</string>
			<key>Andando</key>
			<string>Andando</string>
		</dict>
		<key>PosInicialJogador</key>
		<string>{100, 200}</string>
		<key>Partes</key>
		<array>
			<dict>
				<key>Frutas</key>
				<array>
					<dict>
						<key>NomeFruta</key>
						<string>fruit2</string>
						<key>Posicao</key>
						<string>{100,100}</string>
					</dict>
				</array>
				<key>Animais</key>
				<array>
					<string>Coelho</string>
				</array>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 155}
</string>
					<string>{350, 155}
</string>
					<string>{750, 200}
</string>
					<string>{770, 155}
</string>
					<string>{815, 155}
</string>
					<string>{820, 80}
</string>
					<string>{890, 90}
</string>
					<string>{920, 25}
</string>
					<string>{1024, 30}
</string>
					<string>{1024, 0}
</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{785, 255}</string>
						<string>{785, 280}
</string>
						<string>{1024, 280}
</string>
						<string>{1024, 255}
</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>Frutas</key>
				<array>
					<dict>
						<key>NomeFruta</key>
						<string>fruit1</string>
						<key>Posicao</key>
						<string>{500, 500}</string>
					</dict>
				</array>
				<key>Animais</key>
				<array/>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 30}
</string>
					<string>{255, 35}
</string>
					<string>{255, 370}
</string>
					<string>{355, 370}
</string>
					<string>{355, 40}
</string>
					<string>{630, 45}
</string>
					<string>{945, 715}
</string>
					<string>{1000, 715}
</string>
					<string>{1010, 790}
</string>
					<string>{1024, 790}
</string>
					<string>{1024, 650}
</string>
					<string>{1005, 650}</string>
					<string>{1005, 40}
</string>
					<string>{1024, 40}
</string>
					<string>{1024, 0}
</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 255}</string>
						<string>{0, 280}
</string>
						<string>{40, 280}
</string>
						<string>{40, 255}
</string>
					</array>
					<array>
						<string>{50, 330}</string>
						<string>{50, 360}
</string>
						<string>{190, 360}
</string>
						<string>{190, 330}
</string>
					</array>
					<array>
						<string>{415, 390}</string>
						<string>{415, 420}
</string>
						<string>{555, 420}
</string>
						<string>{555, 390}
</string>
					</array>
					<array>
						<string>{310, 500}</string>
						<string>{310, 520}
</string>
						<string>{410, 520}
</string>
						<string>{410, 500}
</string>
					</array>
					<array>
						<string>{145, 585}</string>
						<string>{145, 610}
</string>
						<string>{270, 610}
</string>
						<string>{270, 585}
</string>
					</array>
					<array>
						<string>{285, 640}</string>
						<string>{285, 665}
</string>
						<string>{735, 665}
</string>
						<string>{735, 640}
</string>
					</array>
					<array>
						<string>{765, 700}</string>
						<string>{765, 720}
</string>
						<string>{875, 720}
</string>
						<string>{875, 700}
</string>
					</array>
					<array>
						<string>{130, 950}</string>
						<string>{130, 980}
</string>
						<string>{190, 930}
</string>
						<string>{190, 900}
</string>
					</array>
					<array>
						<string>{250, 1040}</string>
						<string>{250, 1055}
</string>
						<string>{445, 1055}
</string>
						<string>{450, 1040}
</string>
					</array>
					<array>
						<string>{500, 1140}</string>
						<string>{500, 1160}
</string>
						<string>{815, 1160}
</string>
						<string>{815, 1140}
</string>
					</array>
					<array>
						<string>{855, 1235}</string>
						<string>{885, 1255}</string>
						<string>{1024, 1255}
</string>
						<string>{1024, 1235}
</string>
					</array>
					<array>
						<string>{1005, 535}</string>
						<string>{1005, 555}
</string>
						<string>{1024, 555}
</string>
						<string>{1024, 535}
</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>Animais</key>
				<array/>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 40}
</string>
					<string>{140, 40}
</string>
					<string>{140, 20}
</string>
					<string>{585, 25}
</string>
					<string>{600, 65}
</string>
					<string>{655, 65}
</string>
					<string>{670, 120}
</string>
					<string>{730, 120}
</string>
					<string>{760, 190}
</string>
					<string>{980, 190}
</string>
					<string>{980, 305}
</string>
					<string>{1024, 305}
</string>
					<string>{1024, 0}
</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 100}</string>
						<string>{0, 125}
</string>
						<string>{70, 125}
</string>
						<string>{70, 100}
</string>
					</array>
					<array>
						<string>{40, 200}
</string>
						<string>{40, 220}
</string>
						<string>{105, 220}
</string>
						<string>{105, 200}
</string>
					</array>
					<array>
						<string>{175, 235}</string>
						<string>{175, 260}
</string>
						<string>{245, 260}
</string>
						<string>{245, 235}
</string>
					</array>
					<array>
						<string>{115, 320}</string>
						<string>{115, 340}
</string>
						<string>{185, 340}
</string>
						<string>{185, 320}
</string>
					</array>
					<array>
						<string>{10, 380}</string>
						<string>{15, 400}
</string>
						<string>{80, 400}
</string>
						<string>{80, 380}
</string>
					</array>
					<array>
						<string>{55, 460}</string>
						<string>{55, 480}
</string>
						<string>{100, 480}
</string>
						<string>{100, 460}
</string>
					</array>
					<array>
						<string>{0, 535}</string>
						<string>{0, 555}
</string>
						<string>{50, 555}
</string>
						<string>{50, 535}
</string>
					</array>
					<array>
						<string>{0, 650}</string>
						<string>{0, 790}
</string>
						<string>{100, 790}
</string>
						<string>{130, 750}
</string>
						<string>{115, 650}
</string>
					</array>
					<array>
						<string>{115, 650}</string>
						<string>{125, 750}</string>
						<string>{170, 745}
</string>
						<string>{170, 675}
</string>
					</array>
					<array>
						<string>{165, 565}</string>
						<string>{170, 675}
</string>
						<string>{240, 675}
</string>
						<string>{240, 560}
</string>
					</array>
					<array>
						<string>{835, 235}
</string>
						<string>{830, 260}
</string>
						<string>{980, 260}
</string>
						<string>{980, 235}
</string>
					</array>
					<array>
						<string>{705, 755}</string>
						<string>{705, 780}
</string>
						<string>{1024, 780}
</string>
						<string>{1024, 755}
</string>
					</array>
					<array>
						<string>{570, 820}</string>
						<string>{570, 850}
</string>
						<string>{710, 850}
</string>
						<string>{710, 820}
</string>
					</array>
					<array>
						<string>{470, 895}</string>
						<string>{470, 920}
</string>
						<string>{610, 920}
</string>
						<string>{610, 895}
</string>
					</array>
					<array>
						<string>{585, 970}</string>
						<string>{585, 1000}
</string>
						<string>{725, 1000}
</string>
						<string>{725, 970}
</string>
					</array>
					<array>
						<string>{775, 1030}</string>
						<string>{775, 1045}
</string>
						<string>{1024, 1045}
</string>
						<string>{1024, 1030}
</string>
					</array>
					<array>
						<string>{890, 1200}</string>
						<string>{890, 1225}
</string>
						<string>{1000, 1225}
</string>
						<string>{1000, 1200}
</string>
					</array>
					<array>
						<string>{715, 1235}</string>
						<string>{715, 1260}
</string>
						<string>{815, 1260}
</string>
						<string>{815, 1235}
</string>
					</array>
					<array>
						<string>{515, 1260}</string>
						<string>{515, 1285}
</string>
						<string>{635, 1285}
</string>
						<string>{635, 1260}
</string>
					</array>
					<array>
						<string>{300, 1285}</string>
						<string>{300, 1315}
</string>
						<string>{450, 1315}
</string>
						<string>{450, 1285}
</string>
					</array>
					<array>
						<string>{0, 1235}</string>
						<string>{0, 1255}
</string>
						<string>{310, 1255}
</string>
						<string>{310, 1235}
</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>Animais</key>
				<array>
					<string>Coelho</string>
				</array>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 305}</string>
					<string>{60, 305}
</string>
					<string>{60, 190}
</string>
					<string>{340, 190}
</string>
					<string>{665, 1535}
</string>
					<string>{665, 0}
</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{100, 340}</string>
						<string>{100, 360}
{235, 360}
{235, 340}</string>
						<string>{235, 360}
{235, 340}</string>
						<string>{235, 340}
</string>
					</array>
					<array>
						<string>{265, 400}</string>
						<string>{265, 420}</string>
						<string>{395, 420}</string>
						<string>{385, 400}</string>
					</array>
					<array>
						<string>{340, 490}</string>
						<string>{340, 510}</string>
						<string>{415, 510}</string>
						<string>{410, 490}</string>
					</array>
					<array>
						<string>{185, 555}</string>
						<string>{185, 575}</string>
						<string>{285, 575}</string>
						<string>{285, 555}</string>
					</array>
					<array>
						<string>{80, 625}</string>
						<string>{80, 645}</string>
						<string>{175, 645}
</string>
						<string>{175, 625}
</string>
					</array>
					<array>
						<string>{120, 700}</string>
						<string>{120, 720}
</string>
						<string>{215, 725}
</string>
						<string>{215, 700}
</string>
					</array>
					<array>
						<string>{0, 755}</string>
						<string>{0, 780}
</string>
						<string>{60, 780}
</string>
						<string>{60, 755}
</string>
					</array>
					<array>
						<string>{0, 1025}</string>
						<string>{0, 1045}
</string>
						<string>{190, 1045}
</string>
						<string>{190, 1025}
</string>
					</array>
					<array>
						<string>{135, 1090}</string>
						<string>{135, 1110}
</string>
						<string>{290, 1110}
</string>
						<string>{290, 1090}
</string>
					</array>
					<array>
						<string>{35, 1160}</string>
						<string>{35, 1190}</string>
						<string>{190, 1190}
</string>
						<string>{190, 1160}</string>
					</array>
				</array>
			</dict>
		</array>
		<key>PontoAlertas</key>
		<array/>
	</dict>
</array>
</plist>
