<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Animacoes</key>
		<dict>
			<key>Derrapando</key>
			<string>DerrapandoDr</string>
			<key>Caindo</key>
			<string>CaindoDr</string>
			<key>Escalando</key>
			<string></string>
			<key>Parado</key>
			<string>ParadoDr</string>
			<key>Pulando</key>
			<string>PulandoDr</string>
			<key>Andando</key>
			<string>AndandoDr</string>
		</dict>
		<key>PosInicialJogador</key>
		<string>{400, 600}</string>
		<key>Partes</key>
		<array>
			<dict>
				<key>CoberturaFundo</key>
				<dict>
					<key>NomeImagem</key>
					<string></string>
					<key>PosInicial</key>
					<string></string>
					<key>PosFinal</key>
					<string></string>
				</dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 1534}</string>
					<string>{189, 1534}</string>
					<string>{189, 478}</string>
					<string>{1023, 478}</string>
					<string>{1023, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 480}</string>
					<string>{124, 480}</string>
					<string>{124, 564}</string>
					<string>{340, 567}</string>
					<string>{340, 653}</string>
					<string>{637, 657}</string>
					<string>{643, 283}</string>
					<string>{827, 108}</string>
					<string>{1023, 108}</string>
					<string>{1023, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{866, 727}</string>
						<string>{866, 772}</string>
						<string>{1023, 773}</string>
						<string>{1023, 725}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 110}</string>
					<string>{285, 105}</string>
					<string>{285, 210}</string>
					<string>{506, 211}</string>
					<string>{506, 304}</string>
					<string>{769, 313}</string>
					<string>{765, 924}</string>
					<string>{1023, 927}</string>
					<string>{1023, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 725}</string>
						<string>{0, 773}</string>
						<string>{90, 773}</string>
						<string>{90, 725}</string>
					</array>
					<array>
						<string>{38, 869}</string>
						<string>{296, 868}</string>
						<string>{298, 926}</string>
						<string>{43, 926}</string>
					</array>
					<array>
						<string>{405, 966}</string>
						<string>{400, 1028}</string>
						<string>{666, 1028}</string>
						<string>{666, 967}</string>
					</array>
					<array>
						<string>{38, 598}</string>
						<string>{22, 642}</string>
						<string>{458, 645}</string>
						<string>{463, 592}</string>
					</array>
					<array>
						<string>{514, 493}</string>
						<string>{513, 541}</string>
						<string>{734, 541}</string>
						<string>{736, 492}</string>
					</array>
					<array>
						<string>{238, 370}</string>
						<string>{237, 424}</string>
						<string>{513, 427}</string>
						<string>{518, 372}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CoberturaFundo</key>
				<dict>
					<key>NomeImagem</key>
					<string>Fase1_Parte4_Coberta.png</string>
					<key>PosInicial</key>
					<string>{10, 0}</string>
					<key>PosFinal</key>
					<string>{1023, 357}</string>
				</dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 928}</string>
					<string>{267, 928}</string>
					<string>{273, 645}</string>
					<string>{600, 159}</string>
					<string>{847, 159}</string>
					<string>{847, 205}</string>
					<string>{907, 208}</string>
					<string>{907, 267}</string>
					<string>{953, 268}</string>
					<string>{957, 329}</string>
					<string>{1015, 334}</string>
					<string>{1023, 395}</string>
					<string>{1023, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{395, 1003}</string>
						<string>{393, 1056}</string>
						<string>{730, 1052}</string>
						<string>{728, 1004}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 400}</string>
					<string>{61, 400}</string>
					<string>{61, 476}</string>
					<string>{126, 478}</string>
					<string>{130, 545}</string>
					<string>{192, 548}</string>
					<string>{190, 607}</string>
					<string>{534, 603}</string>
					<string>{534, 708}</string>
					<string>{534, 708}</string>
					<string>{1024, 711}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 60}</string>
					<string>{802, 68}</string>
					<string>{825, 133}</string>
					<string>{1024, 133}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{908, 177}</string>
						<string>{908, 232}</string>
						<string>{1023, 232}</string>
						<string>{1023, 177}</string>
					</array>
					<array>
						<string>{584, 582}</string>
						<string>{584, 634}</string>
						<string>{1023, 634}</string>
						<string>{1023, 582}</string>
					</array>
					<array>
						<string>{70, 733}</string>
						<string>{70, 773}</string>
						<string>{323, 773}</string>
						<string>{330, 733}</string>
					</array>
					<array>
						<string>{434, 811}</string>
						<string>{438, 848}</string>
						<string>{769, 848}</string>
						<string>{769, 811}</string>
					</array>
					<array>
						<string>{235, 923}</string>
						<string>{235, 969}</string>
						<string>{492, 969}</string>
						<string>{492, 923}</string>
					</array>
					<array>
						<string>{530, 1040}</string>
						<string>{530, 1090}</string>
						<string>{720, 1089}</string>
						<string>{723, 1039}</string>
					</array>
					<array>
						<string>{815, 1134}</string>
						<string>{815, 1182}</string>
						<string>{1023, 1182}</string>
						<string>{1023, 1134}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 133}</string>
					<string>{842, 136}</string>
					<string>{842, 191}</string>
					<string>{1023, 193}</string>
					<string>{1023, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 1130}</string>
						<string>{0, 1183}</string>
						<string>{716, 1183}</string>
						<string>{713, 1126}</string>
					</array>
					<array>
						<string>{0, 579}</string>
						<string>{0, 634}</string>
						<string>{249, 634}</string>
						<string>{253, 585}</string>
					</array>
					<array>
						<string>{133, 375}</string>
						<string>{133, 418}</string>
						<string>{461, 418}</string>
						<string>{463, 373}</string>
					</array>
					<array>
						<string>{0, 177}</string>
						<string>{0, 233}</string>
						<string>{103, 232}</string>
						<string>{107, 181}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 193}</string>
					<string>{80, 197}</string>
					<string>{80, 255}</string>
					<string>{1023, 259}</string>
					<string>{1023, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
		</array>
		<key>PontoAlertas</key>
		<array/>
	</dict>
	<dict>
		<key>Animacoes</key>
		<dict>
			<key>Derrapando</key>
			<string>Derrapando</string>
			<key>Caindo</key>
			<string>Caindo</string>
			<key>Escalando</key>
			<string>Escalando</string>
			<key>Parado</key>
			<string>Parado</string>
			<key>Pulando</key>
			<string>Pulando</string>
			<key>Andando</key>
			<string>Andando</string>
		</dict>
		<key>PosInicialJogador</key>
		<string>{10, 200}</string>
		<key>NPC</key>
		<array>
			<dict>
				<key>PosicaoNPC</key>
				<string>{1180, 155}</string>
				<key>Nome</key>
				<string>Maedetodos</string>
			</dict>
			<dict>
				<key>PosicaoNPC</key>
				<string>{3480, 155}</string>
				<key>Nome</key>
				<string>Cacador</string>
			</dict>
			<dict>
				<key>PosicaoNPC</key>
				<string>{1800,1005}</string>
				<key>Nome</key>
				<string>Curandeiro</string>
			</dict>
			<dict>
				<key>PosicaoNPC</key>
				<string>{2700, 835}</string>
				<key>Nome</key>
				<string>Chefe</string>
			</dict>
			<dict>
				<key>PosicaoNPC</key>
				<string>{2000, 995}</string>
				<key>Nome</key>
				<string>Quimm</string>
			</dict>
		</array>
		<key>Partes</key>
		<array>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 130}</string>
					<string>{0, 170}</string>
					<string>{1024, 170}</string>
					<string>{1024, 130}</string>
				</array>
				<key>CoberturaFundo</key>
				<dict>
					<key>NomeImagem</key>
					<string></string>
					<key>PosInicial</key>
					<string>{0, 0}</string>
					<key>PosFinal</key>
					<string>{1023, 357}</string>
				</dict>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>Escalaveis</key>
				<array>
					<array>
						<string>{883, 170}</string>
						<string>{884, 1018}</string>
					</array>
				</array>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 130}</string>
					<string>{0, 170}</string>
					<string>{1024, 170}</string>
					<string>{1024, 130}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{675, 976}</string>
						<string>{675, 1019}</string>
						<string>{1024, 1019}</string>
						<string>{1024, 976}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 130}</string>
					<string>{0, 170}</string>
					<string>{1024, 170}</string>
					<string>{1024, 130}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 972}</string>
						<string>{0, 1016}</string>
						<string>{165, 1016}</string>
						<string>{165, 972}</string>
					</array>
					<array>
						<string>{149, 795}</string>
						<string>{149, 847}</string>
						<string>{910, 847}</string>
						<string>{910, 795}</string>
					</array>
				</array>
				<key>Escalaveis</key>
				<array>
					<array>
						<string>{665, 166}</string>
						<string>{665, 848}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 130}</string>
					<string>{0, 170}</string>
					<string>{1024, 170}</string>
					<string>{1024, 130}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
		</array>
		<key>PontoAlertas</key>
		<array/>
	</dict>
	<dict>
		<key>PosInicialJogador</key>
		<string>{100, 200}</string>
		<key>Partes</key>
		<array>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 186}</string>
					<string>{1003, 186}</string>
					<string>{1024, 274}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 274}</string>
					<string>{226, 274}</string>
					<string>{247, 365}</string>
					<string>{711, 365}</string>
					<string>{1024, 113}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{775, 557}</string>
						<string>{765, 580}</string>
						<string>{1024, 580}</string>
						<string>{1024, 557}</string>
					</array>
					<array>
						<string>{725, 800}</string>
						<string>{700, 844}</string>
						<string>{1015, 844}</string>
						<string>{985, 800}</string>
					</array>
					<array>
						<string>{954, 954}</string>
						<string>{942, 988}</string>
						<string>{1024, 988}</string>
						<string>{1024, 954}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 113}</string>
					<string>{35, 78}</string>
					<string>{841, 78}</string>
					<string>{852, 188}</string>
					<string>{884, 234}</string>
					<string>{906, 482}</string>
					<string>{956, 540}</string>
					<string>{995, 675}</string>
					<string>{1024, 702}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 580}</string>
						<string>{65, 580}</string>
						<string>{56, 555}</string>
						<string>{0, 555}</string>
					</array>
					<array>
						<string>{0, 695}</string>
						<string>{456, 695}</string>
						<string>{432, 668}</string>
						<string>{17, 668}</string>
					</array>
					<array>
						<string>{0, 988}</string>
						<string>{245, 988}</string>
						<string>{230, 950}</string>
						<string>{0, 950}</string>
					</array>
					<array>
						<string>{221, 1070}</string>
						<string>{821, 1070}</string>
						<string>{757, 1010}</string>
						<string>{265, 1010}</string>
					</array>
					<array>
						<string>{930, 1037}</string>
						<string>{1024, 1037}</string>
						<string>{1024, 992}</string>
						<string>{957, 992}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 702}</string>
					<string>{268, 932}</string>
					<string>{300, 992}</string>
					<string>{300, 1037}</string>
					<string>{1024, 1037}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 1037}</string>
						<string>{300, 1037}</string>
						<string>{300, 992}</string>
						<string>{0, 992}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 1037}</string>
					<string>{128, 1037}</string>
					<string>{70, 960}</string>
					<string>{210, 960}</string>
					<string>{60, 900}</string>
					<string>{40, 775}</string>
					<string>{300, 775}</string>
					<string>{110, 567}</string>
					<string>{584, 564}</string>
					<string>{398, 417}</string>
					<string>{653, 417}</string>
					<string>{381, 355}</string>
					<string>{353, 264}</string>
					<string>{773, 264}</string>
					<string>{527, 207}</string>
					<string>{437, 131}</string>
					<string>{456, 97}</string>
					<string>{589, 96}</string>
					<string>{590, 90}</string>
					<string>{1024, 90}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 90}</string>
					<string>{220, 90}</string>
					<string>{240, 228}</string>
					<string>{379, 228}</string>
					<string>{416, 342}</string>
					<string>{634, 345}</string>
					<string>{1024, 510}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 505}</string>
					<string>{558, 744}</string>
					<string>{1024, 347}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{960, 736}</string>
						<string>{829, 843}</string>
						<string>{823, 880}</string>
						<string>{1024, 880}</string>
						<string>{1024, 742}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 350}</string>
					<string>{279, 113}</string>
					<string>{1024, 111}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 880}</string>
						<string>{60, 880}</string>
						<string>{21, 745}</string>
						<string>{0, 742}</string>
					</array>
					<array>
						<string>{176, 978}</string>
						<string>{556, 980}</string>
						<string>{473, 868}</string>
						<string>{330, 800}</string>
					</array>
					<array>
						<string>{584, 1248}</string>
						<string>{937, 1248}</string>
						<string>{858, 1110}</string>
						<string>{695, 1131}</string>
					</array>
					<array>
						<string>{983, 1077}</string>
						<string>{1024, 1077}</string>
						<string>{1024, 906}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 111}</string>
					<string>{841, 111}</string>
					<string>{897, 342}</string>
					<string>{900, 482}</string>
					<string>{961, 384}</string>
					<string>{1024, 384}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 1077}</string>
						<string>{51, 1077}</string>
						<string>{252, 914}</string>
						<string>{0, 888}</string>
					</array>
					<array>
						<string>{358, 792}</string>
						<string>{489, 792}</string>
						<string>{544, 759}</string>
						<string>{715, 759}</string>
						<string>{654, 694}</string>
						<string>{396, 695}</string>
					</array>
					<array>
						<string>{793, 918}</string>
						<string>{1024, 918}</string>
						<string>{1024, 628}</string>
						<string>{1012, 834}</string>
						<string>{877, 839}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 855}</string>
					<string>{939, 855}</string>
					<string>{1024, 845}</string>
					<string>{1024, 749}</string>
					<string>{961, 667}</string>
					<string>{1024, 596}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 594}</string>
					<string>{197, 369}</string>
					<string>{598, 146}</string>
					<string>{1024, 147}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{116, 1306}</string>
						<string>{126, 1324}</string>
						<string>{1024, 1324}</string>
						<string>{1024, 1240}</string>
						<string>{182, 1240}</string>
					</array>
					<array>
						<string>{0, 844}</string>
						<string>{236, 817}</string>
						<string>{20, 777}</string>
						<string>{0, 750}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 149}</string>
					<string>{293, 338}</string>
					<string>{472, 508}</string>
					<string>{1024, 510}</string>
					<string>{1024, 495}</string>
					<string>{913, 447}</string>
					<string>{896, 351}</string>
					<string>{1024, 281}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 1324}</string>
						<string>{903, 1324}</string>
						<string>{1024, 1294}</string>
						<string>{1024, 1262}</string>
						<string>{755, 1241}</string>
						<string>{0, 1240}</string>
					</array>
					<array>
						<string>{654, 918}</string>
						<string>{889, 957}</string>
						<string>{1024, 1045}</string>
						<string>{1024, 995}</string>
						<string>{924, 933}</string>
						<string>{649, 894}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 279}</string>
					<string>{377, 67}</string>
					<string>{1024, 295}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 1293}</string>
						<string>{80, 1273}</string>
						<string>{0, 1263}</string>
					</array>
					<array>
						<string>{0, 1045}</string>
						<string>{51, 1077}</string>
						<string>{198, 1077}</string>
						<string>{190, 1104}</string>
						<string>{1024, 1104}</string>
						<string>{1024, 1052}</string>
						<string>{206, 1052}</string>
						<string>{202, 1061}</string>
						<string>{93, 1053}</string>
						<string>{0, 995}</string>
					</array>
					<array>
						<string>{0, 510}</string>
						<string>{33, 510}</string>
						<string>{0, 496}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 295}</string>
					<string>{368, 424}</string>
					<string>{735, 426}</string>
					<string>{1024, 155}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 1104}</string>
						<string>{286, 1102}</string>
						<string>{254, 1054}</string>
						<string>{0, 1052}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 135}</string>
					<string>{34, 103}</string>
					<string>{1024, 104}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{882, 1192}</string>
						<string>{1024, 1192}</string>
						<string>{1024, 1144}</string>
						<string>{910, 1144}</string>
					</array>
					<array>
						<string>{0, 1168}</string>
						<string>{627, 1168}</string>
						<string>{585, 1126}</string>
						<string>{0, 1124}</string>
					</array>
					<array>
						<string>{451, 676}</string>
						<string>{736, 676}</string>
						<string>{657, 592}</string>
						<string>{570, 580}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 104}</string>
					<string>{1024, 105}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 1192}</string>
						<string>{415, 1192}</string>
						<string>{415, 1144}</string>
						<string>{0, 1144}</string>
					</array>
					<array>
						<string>{393, 849}</string>
						<string>{851, 848}</string>
						<string>{810, 810}</string>
						<string>{422, 808}</string>
					</array>
					<array>
						<string>{90, 664}</string>
						<string>{459, 664}</string>
						<string>{459, 600}</string>
						<string>{90, 600}</string>
					</array>
					<array>
						<string>{231, 1020}</string>
						<string>{561, 1020}</string>
						<string>{528, 980}</string>
						<string>{242, 980}</string>
					</array>
					<array>
						<string>{774, 748}</string>
						<string>{1024, 748}</string>
						<string>{1024, 716}</string>
						<string>{779, 716}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 105}</string>
					<string>{65, 105}</string>
					<string>{145, 546}</string>
					<string>{515, 546}</string>
					<string>{852, 887}</string>
					<string>{1024, 898}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{0, 748}</string>
						<string>{38, 748}</string>
						<string>{0, 718}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 898}</string>
					<string>{469, 924}</string>
					<string>{469, 1005}</string>
					<string>{1024, 1005}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 1005}</string>
					<string>{1024, 1005}</string>
					<string>{1024, 929}</string>
					<string>{457, 617}</string>
					<string>{471, 309}</string>
					<string>{669, 189}</string>
					<string>{951, 88}</string>
					<string>{1024, 88}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 87}</string>
					<string>{995, 87}</string>
					<string>{1024, 115}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{11, 1419}</string>
						<string>{956, 1419}</string>
						<string>{956, 1398}</string>
						<string>{1024, 1398}</string>
						<string>{1024, 1374}</string>
						<string>{914, 1374}</string>
						<string>{914, 1392}</string>
						<string>{11, 1392}</string>
					</array>
					<array>
						<string>{0, 1005}</string>
						<string>{137, 1005}</string>
						<string>{0, 931}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 118}</string>
					<string>{447, 579}</string>
					<string>{556, 579}</string>
					<string>{561, 830}</string>
					<string>{396, 1056}</string>
					<string>{457, 1059}</string>
					<string>{454, 1200}</string>
					<string>{647, 1200}</string>
					<string>{693, 1117}</string>
					<string>{963, 919}</string>
					<string>{1024, 918}</string>
				</array>
				<key>Plataformas</key>
				<array>
					<array>
						<string>{30, 804}</string>
						<string>{351, 804}</string>
						<string>{227, 631}</string>
						<string>{173, 624}</string>
					</array>
					<array>
						<string>{0, 1398}</string>
						<string>{478, 1398}</string>
						<string>{478, 1374}</string>
						<string>{0, 1374}</string>
					</array>
					<array>
						<string>{645, 1300}</string>
						<string>{879, 1300}</string>
						<string>{771, 1227}</string>
						<string>{698, 1227}</string>
					</array>
				</array>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 918}</string>
					<string>{90, 918}</string>
					<string>{130, 714}</string>
					<string>{222, 714}</string>
					<string>{264, 504}</string>
					<string>{409, 504}</string>
					<string>{430, 365}</string>
					<string>{670, 157}</string>
					<string>{1024, 156}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 156}</string>
					<string>{1024, 156}</string>
					<string>{1024, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
			<dict>
				<key>CorpoFisicoChao</key>
				<array>
					<string>{0, 0}</string>
					<string>{0, 156}</string>
					<string>{280, 156}</string>
					<string>{460, 327}</string>
					<string>{638, 873}</string>
					<string>{694, 1362}</string>
					<string>{694, 0}</string>
				</array>
				<key>Plataformas</key>
				<array/>
			</dict>
		</array>
		<key>PontoAlertas</key>
		<array/>
	</dict>
</array>
</plist>
