<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MenuPrincipal</key>
	<array>
		<string>Itens</string>
		<string>Missões</string>
		<string>Livro de Receitas</string>
		<string>Configurações</string>
	</array>
	<key>Fonte</key>
	<string>ArialMT</string>
</dict>
</plist>
