<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lança</key>
	<dict>
		<key>Isca</key>
		<false/>
		<key>nome</key>
		<string>Lança simples</string>
		<key>descricao</key>
		<string>Arma utilizada para caça e proteção</string>
		<key>categoria</key>
		<string>Armas</string>
		<key>imagem</key>
		<string>lanca</string>
	</dict>
	<key>Carne</key>
	<dict>
		<key>Isca</key>
		<dict>
			<key>Caracteristica</key>
			<string>Coelho</string>
			<key>Nome</key>
			<string>Carne</string>
		</dict>
		<key>nome</key>
		<string>Carne</string>
		<key>descricao</key>
		<string>Caçada mais cedo. Necessária para preparar o jantar</string>
		<key>categoria</key>
		<string>Item de Missão</string>
		<key>imagem</key>
		<string>carne</string>
	</dict>
	<key>AguaMagica</key>
	<dict>
		<key>nome</key>
		<string>Água mágica</string>
		<key>descricao</key>
		<string>Água retirada de um poço sagrado. Não se sabe o motivo, mas ajuda a curar os ferimentos</string>
		<key>categoria</key>
		<string>Item de Missão</string>
		<key>imagem</key>
		<string>aguaMagica</string>
	</dict>
	<key>Remedio</key>
	<dict>
		<key>nome</key>
		<string>Remédio para queimação</string>
		<key>descricao</key>
		<string>Remédio feito pelo curandeiro especialmente para o chefe</string>
		<key>categoria</key>
		<string>Item de Missão</string>
		<key>imagem</key>
		<string>remedio</string>
	</dict>
	<key>Docinho</key>
	<dict>
		<key>nome</key>
		<string>Docinho</string>
		<key>Isca</key>
		<dict>
			<key>Caracteristica</key>
			<string>Acucar</string>
			<key>Nome</key>
			<string>Docinho</string>
		</dict>
		<key>descricao</key>
		<string>Docinho feito com açúcar e clara de ovos. Apenas a Mãe de todos sabe a receita</string>
		<key>categoria</key>
		<string>Item de Missão</string>
		<key>imagem</key>
		<string>docinho</string>
	</dict>
	<key>Contador Geiger</key>
	<dict>
		<key>nome</key>
		<string>Contador Geiger</string>
		<key>descricao</key>
		<string>Aparelho que identifica radiação. Cuidade com ele!</string>
		<key>categoria</key>
		<string>Item de Missão</string>
		<key>imagem</key>
		<string>ContadorGeiger</string>
	</dict>
	<key>MaletaDoDrQuimm</key>
	<dict>
		<key>nome</key>
		<string>Maleta do Dr. Quimm</string>
		<key>descricao</key>
		<string>Maleta com amostras Químicas.</string>
		<key>categoria</key>
		<string>Item de Missão</string>
		<key>imagem</key>
		<string>maleta</string>
	</dict>
	<key>liquidoAmarelo</key>
	<dict>
		<key>nome</key>
		<string>Líquido Amarelo</string>
		<key>descricao</key>
		<string>Vidro com liquido amarelo, que pode ser usado como isca.</string>
		<key>categoria</key>
		<string>Item de Missão</string>
		<key>imagem</key>
		<string>liquidoAmarelo</string>
		<key>Isca</key>
		<dict>
			<key>Caracteristica</key>
			<string>Amarelo</string>
			<key>Nome</key>
			<string>Liquido</string>
		</dict>
	</dict>
	<key>armadilhaSimples</key>
	<dict>
		<key>nome</key>
		<string>Armadilha Simples</string>
		<key>descricao</key>
		<string>Armadilha usada para capturar animais na floresta.</string>
		<key>categoria</key>
		<string>Item de Missão</string>
		<key>imagem</key>
		<string>ArmadilhaSimples</string>
	</dict>
	<key>Coelho</key>
	<dict>
		<key>nome</key>
		<string>Coelho</string>
		<key>descricao</key>
		<string>Coelho caçado mais cedo!</string>
		<key>categoria</key>
		<string>Item de Missão</string>
		<key>imagem</key>
		<string>itemCoelho</string>
	</dict>
</dict>
</plist>
