<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lança</key>
	<integer>0</integer>
	<key>Carne</key>
	<integer>0</integer>
	<key>AguaMagica</key>
	<integer>0</integer>
	<key>Remedio</key>
	<integer>0</integer>
	<key>Docinho</key>
	<integer>0</integer>
</dict>
</plist>
