<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Nome</key>
		<string></string>
		<key>Recompensa</key>
		<string></string>
		<key>Disparador</key>
		<string>0</string>
		<key>Respeito</key>
		<integer>0</integer>
		<key>ID</key>
		<string>Missao00</string>
		<key>Partes</key>
		<array>
			<dict>
				<key>Descricao</key>
				<string></string>
				<key>NPCRequisito</key>
				<string></string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<string></string>
				<key>ItemEntregue</key>
				<string></string>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Missão 01 - Ajudando a mãe de todos</string>
		<key>Recompensa</key>
		<string></string>
		<key>Disparador</key>
		<string>Maedetodos</string>
		<key>Respeito</key>
		<integer>10</integer>
		<key>ID</key>
		<string>Missao01</string>
		<key>Partes</key>
		<array>
			<dict>
				<key>Descricao</key>
				<string>Fale com a mãe de todos, ela tem um favor a pedir.</string>
				<key>NPCRequisito</key>
				<string>Maedetodos</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<array/>
				<key>ItemEntregue</key>
				<array/>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ItemEntregue</key>
				<array/>
				<key>ItemRecebido </key>
				<array/>
				<key>Descricao</key>
				<string>Vá até o jogador e peça a carne que ele caçou hoje.</string>
				<key>NPCRequisito</key>
				<string>Cacador</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ItemRecebido</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>Docinho</string>
						<key>Quantidade</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>Descricao</key>
				<string>O Caçador quer uma prova de que foi a mãe quem o mandou pegar a carne. Como convencê-lo?</string>
				<key>NPCRequisito</key>
				<string>Maedetodos</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>Fome</key>
				<integer>0</integer>
				<key>ItemEntregue</key>
				<array/>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ItemRecebido</key>
				<array/>
				<key>Descricao</key>
				<string>Mãe de todos tem uma ideia para provar ao Caçador que foi ela quem o mandou, mas você precisa falar com o Chefe primeiro</string>
				<key>NPCRequisito</key>
				<string>Chefe</string>
				<key>ItemRequisito</key>
				<string>Docinho</string>
				<key>Fome</key>
				<integer>0</integer>
				<key>ItemEntregue</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>Docinho</string>
						<key>Quantidade</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ItemRecebido</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>Remedio</string>
						<key>Quantidade</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>Descricao</key>
				<string>O chefe irá te ajudar, mas primeiro, você deve pegar o remédio dele com o curandeiro.</string>
				<key>NPCRequisito</key>
				<string>Curandeiro</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>Fome</key>
				<integer>-100</integer>
				<key>ItemEntregue</key>
				<array/>
				<key>Sede</key>
				<integer>-100</integer>
				<key>Vida</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>ItemRecebido</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>AguaMagica</string>
						<key>Quantidade</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>Descricao</key>
				<string>Agora que tem o remédio, você deve entregá-lo ao chefe da vila.</string>
				<key>NPCRequisito</key>
				<string>Chefe</string>
				<key>ItemRequisito</key>
				<string>Remedio</string>
				<key>Fome</key>
				<integer>0</integer>
				<key>ItemEntregue</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>Remedio</string>
						<key>Quantidade</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ItemRecebido</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>Carne</string>
						<key>Quantidade</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>Descricao</key>
				<string>Agora que finalmente conseguiu a água mágica, você tem como provar ao caçador que foi a mãe de todos que lhe enviou</string>
				<key>NPCRequisito</key>
				<string>Cacador</string>
				<key>ItemRequisito</key>
				<string>AguaMagica</string>
				<key>Fome</key>
				<integer>0</integer>
				<key>ItemEntregue</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>AguaMagica</string>
						<key>Quantidade</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>ArmadilhasEntregue</key>
				<array/>
				<key>ItemRecebido</key>
				<array/>
				<key>Descricao</key>
				<string>Enfim, a caça de hoje! Entregue para mãe de todos e elá poderá fazer o jantar</string>
				<key>NPCRequisito</key>
				<string>Maedetodos</string>
				<key>ItemRequisito</key>
				<string>Carne</string>
				<key>Fome</key>
				<integer>0</integer>
				<key>ItemEntregue</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>Carne</string>
						<key>Quantidade</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Missão 02 - Recuperando a maleta</string>
		<key>Recompensa</key>
		<string>Maleta do Dr.Quimm</string>
		<key>Disparador</key>
		<string>Quimm</string>
		<key>Respeito</key>
		<integer>10</integer>
		<key>ID</key>
		<string>Missao02</string>
		<key>Partes</key>
		<array>
			<dict>
				<key>Descricao</key>
				<string>Fale com o Dr. Quimm, ele estava chamando por você.</string>
				<key>NPCRequisito</key>
				<string>Quimm</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>Contador Geiger</string>
						<key>Quantidade</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ItemEntregue</key>
				<array/>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Descricao</key>
				<string>Peça para Caçador devolver a mala do Dr. Quimm.</string>
				<key>NPCRequisito</key>
				<string>Cacador</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<array/>
				<key>ItemEntregue</key>
				<array/>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>FaseParaIr</key>
				<integer>3</integer>
				<key>PontoDeAvanco</key>
				<string>{5700, 400}</string>
				<key>Descricao</key>
				<string>Pegar o animal descrito pelo Caçador</string>
				<key>NPCRequisito</key>
				<string>Piloto</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<array/>
				<key>ItemEntregue</key>
				<array/>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>FaseParaIr</key>
				<integer>2</integer>
				<key>Descricao</key>
				<string>Pergunte ao Caçador como ele faz para capturar a criatura.</string>
				<key>NPCRequisito</key>
				<string>Cacador</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<array/>
				<key>ItemEntregue</key>
				<array/>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Descricao</key>
				<string>Pergunte as pessoas da vila se alguém conhece a técnica.</string>
				<key>NPCRequisito</key>
				<string>Maedetodos</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>MaletaDoDrQuimm</string>
						<key>Quantidade</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ItemEntregue</key>
				<array/>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Descricao</key>
				<string>Momento Constrangedor!</string>
				<key>NPCRequisito</key>
				<string>Quimm</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<array/>
				<key>ItemEntregue</key>
				<array/>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Descricao</key>
				<string>Por fim, entregue a maleta ao Dr.Quimm</string>
				<key>NPCRequisito</key>
				<string>Quimm</string>
				<key>ItemRequisito</key>
				<string>MaletaDoDrQuimm</string>
				<key>ItemRecebido</key>
				<array/>
				<key>ItemEntregue</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>MaletaDoDrQuimm</string>
						<key>Quantidade</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Missão 03 - Caçando o coelho</string>
		<key>Recompensa</key>
		<string></string>
		<key>Disparador</key>
		<string>Maedetodos</string>
		<key>Respeito</key>
		<integer>10</integer>
		<key>ID</key>
		<string>Missao03</string>
		<key>Partes</key>
		<array>
			<dict>
				<key>Descricao</key>
				<string>Fale com a mãe de todos, ela tem uma idéia!</string>
				<key>NPCRequisito</key>
				<string>Maedetodos</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<array/>
				<key>ItemEntregue</key>
				<array/>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>Descricao</key>
				<string>Encontre algo amarelo para servir de isca</string>
				<key>NPCRequisito</key>
				<string>Curandeiro</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>liquidoAmarelo</string>
						<key>Quantidade</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>ItemEntregue</key>
				<array/>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Descricao</key>
				<string>Mostre o líquido amarelo para a mãe de todos</string>
				<key>NPCRequisito</key>
				<string>Maedetodos</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<array/>
				<key>ItemEntregue</key>
				<array/>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>FaseParaIr</key>
				<integer>3</integer>
				<key>Descricao</key>
				<string>Vá até o caçador para que ele te guie até o local onde estão os coelhos
￼</string>
				<key>NPCRequisito</key>
				<string>Cacador</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>liquidoAmarelo</string>
						<key>Quantidade</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>ItemEntregue</key>
				<array/>
				<key>ArmadilhasEntregue</key>
				<array>
					<string>ArmadilhaSimples</string>
				</array>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>FaseParaIr</key>
				<integer>2</integer>
				<key>Descricao</key>
				<string>Capture o coelho posicionando a armadilha e colocando a isca amarela no centro dela.</string>
				<key>NPCRequisito</key>
				<string></string>
				<key>ItemRequisito</key>
				<string>coelho</string>
				<key>ItemRecebido</key>
				<array/>
				<key>ItemEntregue</key>
				<array/>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Descricao</key>
				<string>Agora que você tem o coelho, leve-o para a mãe de todos</string>
				<key>NPCRequisito</key>
				<string>Maedetodos</string>
				<key>ItemRequisito</key>
				<string></string>
				<key>ItemRecebido</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>Docinho</string>
						<key>Quantidade</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>ItemEntregue</key>
				<array>
					<dict>
						<key>Nome</key>
						<string>Coelho</string>
						<key>Quantidade</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>Fome</key>
				<integer>0</integer>
				<key>Sede</key>
				<integer>0</integer>
				<key>Vida</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
