<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Nome</key>
		<string>Missão 00 - Sem Missão</string>
		<key>Atual</key>
		<true/>
		<key>Partes</key>
		<integer>1</integer>
		<key>ParteAtual</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Missão 01 - Ajudando a mãe de todos</string>
		<key>Atual</key>
		<false/>
		<key>Partes</key>
		<integer>8</integer>
		<key>ParteAtual</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Missão 02 - Recuperando a maleta</string>
		<key>Atual</key>
		<false/>
		<key>Partes</key>
		<integer>5</integer>
		<key>ParteAtual</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Missão 03 - Caçando o coelho</string>
		<key>Atual</key>
		<false/>
		<key>Partes</key>
		<integer>6</integer>
		<key>ParteAtual</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
