<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Nome</key>
		<string>Bomba de Bicarbonato</string>
		<key>descricao</key>
		<string>Bombaaaaa</string>
		<key>itemGerado</key>
		<string>LiquidoAmarelo</string>
		<key>infoConfigComposto</key>
		<array>
			<dict>
				<key>NomeComposto</key>
				<string>CO2</string>
				<key>nEletronsRequisito</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>NomeComposto</key>
				<string>H2</string>
				<key>nEletronsRequisito</key>
				<integer>8</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
