<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Nome</key>
		<string>Bomba de Bicarbonato</string>
		<key>Ingredientes</key>
		<array>
			<string>10x Lotus Verde</string>
			<string>2x Agua do lago Miek</string>
			<string>8x Carpa empedrada</string>
			<string>1 garrafa</string>
		</array>
		<key>Requisitos</key>
		<array>
			<string>Bico de bunsen Coagulador</string>
		</array>
	</dict>
</array>
</plist>
