<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Elementos</key>
	<array>
		<dict>
			<key>Info</key>
			<dict>
				<key>Categoria</key>
				<string>Categoria</string>
				<key>Historia</key>
				<string>Historia</string>
				<key>EstadoEncontrado</key>
				<string>Estado</string>
				<key>LugarEncontrado</key>
				<string>Lugar</string>
			</dict>
			<key>Simbolo</key>
			<string>D</string>
			<key>NumeroEletrons</key>
			<integer>0</integer>
			<key>Imagem</key>
			<string>Elemento</string>
			<key>Nome</key>
			<string>Elemento</string>
		</dict>
	</array>
	<key>Compostos</key>
	<array>
		<dict>
			<key>Elementos</key>
			<array>
				<string>Elemento</string>
				<string>Elemento</string>
			</array>
			<key>Info</key>
			<dict>
				<key>Aplicacao</key>
				<string></string>
				<key>Obtencao</key>
				<string></string>
			</dict>
			<key>FormulaMolecular</key>
			<string>Formula</string>
			<key>Imagem</key>
			<string>Imagem</string>
			<key>Nome</key>
			<string>Nome</string>
		</dict>
	</array>
	<key>Receitas</key>
	<array>
		<dict>
			<key>Compostos</key>
			<array>
				<string>Nome</string>
			</array>
			<key>Bolinhas</key>
			<array>
				<integer>8</integer>
			</array>
			<key>ItemGerado</key>
			<string>Item</string>
			<key>Descricao</key>
			<string>Descricao</string>
			<key>Nome</key>
			<string>Receita</string>
		</dict>
	</array>
</dict>
</plist>
