<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Elementos</key>
	<integer>1</integer>
	<key>Compostos</key>
	<integer>1</integer>
	<key>Receitas</key>
	<integer>1</integer>
</dict>
</plist>
