<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Elementos</key>
	<array>
		<dict>
			<key>Info</key>
			<dict>
				<key>Categoria</key>
				<string>Não-Metais (grupo 14)</string>
				<key>Historia</key>
				<string>O carbono criou-se durante o Big Bang porque havia necessidade da tripla colisão de partículas alfa (núcleos atômicos de hélio), tendo o universo se expandido e esfriado bastante rápido para que tal probabilidade fosse significativa.</string>
				<key>EstadoEncontrado</key>
				<string>Sólido</string>
				<key>LugarEncontrado</key>
				<string>O carbono é o 17º elemento mais abundantes e a maior parte encontra-se em forma de carvão e petróleo. É um componente essencial de todas a matéria viva, como carboidratos, gorduras e proteínas. </string>
			</dict>
			<key>Simbolo</key>
			<string>C</string>
			<key>NumeroEletrons</key>
			<integer>4</integer>
			<key>Imagem</key>
			<string>elemento_carbono</string>
			<key>Nome</key>
			<string>Carbono</string>
		</dict>
		<dict>
			<key>Info</key>
			<dict>
				<key>Categoria</key>
				<string>Halogênios (grupo 17)</string>
				<key>Historia</key>
				<string>O composto mais comum do cloro, o cloreto de sódio, é conhecido desde a antiguidade tendo os arqueologistas encontrado evidências que o sal era usado já por volta de 6000 a.C. Por volta de 1630, o cloro foi reconhecido como um gás pelo químico belga Jan Baptista Van Helmont.</string>
				<key>EstadoEncontrado</key>
				<string>Gasoso</string>
				<key>LugarEncontrado</key>
				<string>Por ser muito reativo, o cloro não ocorre no estado livre. Contudo, é encontrado na forma de compostos na crosta terrestre.</string>
			</dict>
			<key>Simbolo</key>
			<string>Cl</string>
			<key>NumeroEletrons</key>
			<integer>7</integer>
			<key>Imagem</key>
			<string>elemento_cloro</string>
			<key>Nome</key>
			<string>Cloro</string>
		</dict>
		<dict>
			<key>Info</key>
			<dict>
				<key>Categoria</key>
				<string>Não-Metais (grupo 1)</string>
				<key>Historia</key>
				<string>O gás hidrogênio, H2, foi o primeiro produzido artificialmente e formalmente descrito por T. Von Hohenheim (também conhecido como Paracelso, 1493–1541) por meio da reação química entre metais e ácidos fortes. Paracelso não tinha o conhecimento de que o gás inflamável produzido por esta reação química era constituído por um novo elemento químico</string>
				<key>EstadoEncontrado</key>
				<string>Gasoso</string>
				<key>LugarEncontrado</key>
				<string>Hidrogênio é o elemento mais abundante no universo, compondo 75% da matéria normal por massa e mais de 90% por número de átomos.20 Este elemento é encontrado em grande abundância em estrelas e planetas gigantes de gás.</string>
			</dict>
			<key>Simbolo</key>
			<string>H</string>
			<key>NumeroEletrons</key>
			<integer>1</integer>
			<key>Imagem</key>
			<string>elemento_hidrogenio</string>
			<key>Nome</key>
			<string>Hidrogênio</string>
		</dict>
		<dict>
			<key>Info</key>
			<dict>
				<key>Categoria</key>
				<string>Halogênios (grupo 17)</string>
				<key>Historia</key>
				<string>O iodo (do grego iodes, que significa &quot;violeta&quot;) foi descoberto na França pelo químico Bernard Courtois em 1811 a partir de algas marinhas, não continuando com suas investigações por falta de dinheiro. Posteriormente, o químico inglês Humphry Davy e o químico francês Gay-Lussac estudaram em separado a substância e terminaram identificando-a definitivamente como um novo elemento. Ambos deram o crédito do descobrimento a Courtois.</string>
				<key>EstadoEncontrado</key>
				<string>Sólido</string>
				<key>LugarEncontrado</key>
				<string>O iodo é o halogênio menos abundante, pode ser obtido a partir dos iodetos, I-, presentes na água do mar e nas algas. Também pode ser obtido a partir dos iodatos, IO3- existente nos nitratos de Chile, separando-os previamente destes.</string>
			</dict>
			<key>Simbolo</key>
			<string>I</string>
			<key>NumeroEletrons</key>
			<integer>7</integer>
			<key>Imagem</key>
			<string>elemento_iodo</string>
			<key>Nome</key>
			<string>Iodo</string>
		</dict>
		<dict>
			<key>Info</key>
			<dict>
				<key>Categoria</key>
				<string>Metais-Alcalinos (grupo 1)</string>
				<key>Historia</key>
				<string>O nome potássio vem do latim científico pontassionim, e este do neerlandês pottasche, cinza de pote, nome dado por Humphry Davy ao ser descoberto em 1807. Foi o primeiro elemento metálico isolado por eletrólise, no caso a partir da potassa (KOH), composto de cujo nome latino, Kalium, originou o símbolo químico do potássio.</string>
				<key>EstadoEncontrado</key>
				<string>Sólido</string>
				<key>LugarEncontrado</key>
				<string>O potássio constitui cerca de 2,4% em peso da crosta terrestre, sendo o sétimo elemento mais abundante. Devido a sua insolubilidade é muito difícil obter o metal puro a partir dos seus minerais. Ainda assim, em antigos leitos marítimos e lagos existem grandes depósitos de minerais de potássio dos quais é economicamente viável a extração do metal e seus sais.</string>
			</dict>
			<key>Simbolo</key>
			<string>K</string>
			<key>NumeroEletrons</key>
			<integer>1</integer>
			<key>Imagem</key>
			<string>elemento_potassio</string>
			<key>Nome</key>
			<string>Potássio</string>
		</dict>
		<dict>
			<key>Info</key>
			<dict>
				<key>Categoria</key>
				<string>Metais alcalino-terrosos (Grupo 2)</string>
				<key>Historia</key>
				<string>O nome é originário de Magnésia, que em grego designava uma região da Tessália. O escocês Joseph Black, reconheceu o magnésio como um elemento químico em 1755. Em 1808 Sir Humphry Davy obteve o metal puro mediante a eletrólise de uma mistura de magnésia e HgO (óxido de mercúrio).</string>
				<key>EstadoEncontrado</key>
				<string>Sólido</string>
				<key>LugarEncontrado</key>
				<string>O magnésio é o oitavo elemento mais abundante na crosta terrestre. Não é encontrado livre na natureza, porém entra na composição de mais de 60 minerais</string>
			</dict>
			<key>Simbolo</key>
			<string>Mg</string>
			<key>NumeroEletrons</key>
			<integer>2</integer>
			<key>Imagem</key>
			<string>elemento_magnesio</string>
			<key>Nome</key>
			<string>Magnésio</string>
		</dict>
		<dict>
			<key>Info</key>
			<dict>
				<key>Categoria</key>
				<string>Metais de Transição (Grupo 7)</string>
				<key>Historia</key>
				<string>Vários óxidos de manganês são abundantes na natureza e por causa de suas cores têm sido utilizados como pigmentos desde a Idade da Pedra. Vidreiros egípcios e romanos utilizavam tais compostos tanto para remover a cor do vidro quanto para adicioná-la.5 Por causa de sua utilização na fabricação de vidros, o dióxido de manganês estava disponível aos alquimistas e foi utilizado em experimentos. Em 1770 Ignatius Gottfried Kaim (1746-1778) e Johann Rudolf Glauber (1604-1670) descobriram que o dióxido podia ser convertido em permanganato, um reagente de laboratório útil pelo seu poder oxidante.</string>
				<key>EstadoEncontrado</key>
				<string>Sólido</string>
				<key>LugarEncontrado</key>
				<string>O manganês é o 12º elemento mais abundante na crosta terrestre. O elemento não é encontrado na forma pura, mas faz parte da composição de mais de cem minérios</string>
			</dict>
			<key>Simbolo</key>
			<string>Mn</string>
			<key>NumeroEletrons</key>
			<integer>2</integer>
			<key>Imagem</key>
			<string>elemento_manganes</string>
			<key>Nome</key>
			<string>Manganês</string>
		</dict>
		<dict>
			<key>Info</key>
			<dict>
				<key>Categoria</key>
				<string>Não-Metais (grupo 15)</string>
				<key>Historia</key>
				<string>O nitrogênio considera-se que foi descoberto formalmente por Daniel Rutherford em 1772 ao determinar algumas de suas propriedades. Entretanto, pela mesma época, também se dedicaram ao seu estudo Scheele que o isolou, Cavendish, e Priestley.</string>
				<key>EstadoEncontrado</key>
				<string>Gasoso</string>
				<key>LugarEncontrado</key>
				<string>O nitrogênio é o componente principal da atmosfera terrestre. É obtido, para usos industriais, pela destilação do ar líquido ou pelo enriquecimento através de filtros moleculares. O elemento está presente na composição de substâncias excretadas pelos animais, usualmente na forma de ureia e ácido úrico.</string>
			</dict>
			<key>Simbolo</key>
			<string>N</string>
			<key>NumeroEletrons</key>
			<integer>5</integer>
			<key>Imagem</key>
			<string>elemento_nitrogenio</string>
			<key>Nome</key>
			<string>Nitrogênio</string>
		</dict>
		<dict>
			<key>Info</key>
			<dict>
				<key>Categoria</key>
				<string>Metais-Alcalinos (Grupo 1)</string>
				<key>Historia</key>
				<string>Foi isolado em 1807 por Sir Humphry Davy através da eletrólise da soda cáustica. Na Europa medieval era empregado como remédio para as enxaquecas um composto de sódio denominado sodanum. O símbolo do sódio (Na), provém de natron ( ou natrium, do grego nítron ) nome que recebia antigamente o carbonato de sódio.</string>
				<key>EstadoEncontrado</key>
				<string>Sólido</string>
				<key>LugarEncontrado</key>
				<string>A crosta terrestre contém aproximadamente 2,6% de sódio, sendo o quarto elemento mais abundante e o mais comum entre os metais alcalinos. O composto mais abundante de sódio é o cloreto de sódio, o sal comum de cozinha. Também se encontra presente em diversos minerais.</string>
			</dict>
			<key>Simbolo</key>
			<string>Na</string>
			<key>NumeroEletrons</key>
			<integer>1</integer>
			<key>Imagem</key>
			<string>elemento_sodio</string>
			<key>Nome</key>
			<string>Sódio</string>
		</dict>
		<dict>
			<key>Info</key>
			<dict>
				<key>Categoria</key>
				<string>Não-Metais (Grupo 16)</string>
				<key>Historia</key>
				<string>O elemento oxigênio foi descoberto pelo farmacêutico sueco Carl Wilhelm Scheele em 1771, porém o seu trabalho não obteve reconhecimento imediato. Muitos atribuem a Joseph Priestley o seu descobrimento, que ocorreu independentemente em 1 de agosto de 1774.</string>
				<key>EstadoEncontrado</key>
				<string>Gasoso</string>
				<key>LugarEncontrado</key>
				<string>Representa aproximadamente 20% da composição da atmosfera terrestre. O composto mais notável do oxigênio é a água (H2O).</string>
			</dict>
			<key>Simbolo</key>
			<string>O</string>
			<key>NumeroEletrons</key>
			<integer>6</integer>
			<key>Imagem</key>
			<string>elemento_oxigenio</string>
			<key>Nome</key>
			<string>Oxigênio</string>
		</dict>
		<dict>
			<key>Info</key>
			<dict>
				<key>Categoria</key>
				<string>Metais Representativos (Grupo 14)</string>
				<key>Historia</key>
				<string>Os alquimistas achavam que o chumbo era o mais velho dos metais e associavam este metal ao planeta Saturno. A partir de 700 d.C. os alemães iniciaram a exploração deste metal, juntamente com a da prata, nas minas existentes nas montanhas de Hartz, no vale do vale do Reno e na Boêmia a partir do século XIII. Na Grã-Bretanha, a partir do século XVII, principalmente nas regiões de Derbyshire e Gales as indústrias de fundições deste metal prosperaram.</string>
				<key>EstadoEncontrado</key>
				<string>Sólido</string>
				<key>LugarEncontrado</key>
				<string>O chumbo raramente é encontrado no seu estado elementar. O mineral de chumbo mais comum é o sulfeto denominado de galena (com 86,6% deste metal) . Outros minerais de importância comercial são o carbonato (cerusita) e o sulfato (anglesita), que são mais raros. Geralmente é encontrado com minerais de zinco, prata e, em maior abundância, de cobre.</string>
			</dict>
			<key>Simbolo</key>
			<string>Pb</string>
			<key>NumeroEletrons</key>
			<integer>4</integer>
			<key>Imagem</key>
			<string>elemento_ chumbo</string>
			<key>Nome</key>
			<string>Chumbo</string>
		</dict>
		<dict>
			<key>Info</key>
			<dict>
				<key>Categoria</key>
				<string>Não-Metais (Grupo 16)</string>
				<key>Historia</key>
				<string>O enxofre (do latím sulphur, -ŭris) é conhecido desde a antiguidade. No século IX a.C. Homero já recomendava evitar a pestilência do enxofre. Os alquimistas na Idade Média conheciam a possibilidade de combinar o enxofre com o mercúrio. Somente nos finais da década de 1770 a comunidade científica convenceu-se, através de Antoine Lavoisier, de que o enxofre era um elemento químico e não um composto.</string>
				<key>EstadoEncontrado</key>
				<string>Sólido</string>
				<key>LugarEncontrado</key>
				<string>O enxofre é o 16º elemento em ordem de abundância na crosta terrestre. Na forma nativa é encontrado junto a fontes termais, zonas vulcânicas. Também está presente, em pequenas quantidades, em combustíveis fósseis como carvão e petróleo, cuja combustão produz dióxido de enxofre que combinado a água resulta na chuva ácida.</string>
			</dict>
			<key>Simbolo</key>
			<string>S</string>
			<key>NumeroEletrons</key>
			<integer>6</integer>
			<key>Imagem</key>
			<string>elemento_enxofre</string>
			<key>Nome</key>
			<string>Enxofre</string>
		</dict>
	</array>
	<key>Compostos</key>
	<array>
		<dict>
			<key>Elementos</key>
			<array>
				<string>Hidrogênio</string>
				<string>Enxofre</string>
				<string>Oxigênio</string>
			</array>
			<key>Info</key>
			<dict>
				<key>Aplicacao</key>
				<string>Na produção de: 
- Fertilizantes, como os superfosfatos e o sulfato de amônio;
- Papel;
- Corantes;
- Fibras de raiom;
- Medicamentos;
- Tintas;
- Inseticidas;
- Explosivos;
- Na produção de outros ácidos;
- Nas indústrias petroquímicas para o refino de petróleo;
- Em baterias de automóveis (acumuladores de chumbo).</string>
				<key>Obtencao</key>
				<string>O ácido sulfúrico é obtido a partir de enxofre, oxigênio e água, por meio de um processo chamado  &quot;processo de contato&quot;. O processo de contato é um processo industrial químico para a produção de ácido sulfúrico usando um catalisador fixo como por exemplo compostos de vanádio</string>
			</dict>
			<key>FormulaMolecular</key>
			<string>H2SO4</string>
			<key>Imagem</key>
			<string>composto_acidoSulfurico</string>
			<key>Nome</key>
			<string>Ácido Sulfúrico</string>
		</dict>
		<dict>
			<key>Elementos</key>
			<array>
				<string>Carbono</string>
				<string>Hidrogênio</string>
				<string>Oxigênio</string>
			</array>
			<key>Info</key>
			<dict>
				<key>Aplicacao</key>
				<string>É usado para alterar (adoçar) o gosto de bebidas e alimentos.</string>
				<key>Obtencao</key>
				<string>No Brasil, obtém-se o açúcar principalmente através da cana-de-açúcar, que é moída, obtendo-se a garapa, com alto teor de sacarose. Posteriormente, essa garapa é aquecida, formando um melaço, que contém aproximadamente 40% de sacarose em massa; e parte dessa sacarose se cristaliza, formando o açúcar comum.</string>
			</dict>
			<key>FormulaMolecular</key>
			<string>C12H22O11</string>
			<key>Imagem</key>
			<string>composto_acucarSacarose</string>
			<key>Nome</key>
			<string>Açúcar (Sacarose)</string>
		</dict>
		<dict>
			<key>Elementos</key>
			<array>
				<string>Oxigênio</string>
				<string>Hidrogênio</string>
				<string>Carbono</string>
			</array>
			<key>Info</key>
			<dict>
				<key>Aplicacao</key>
				<string>Aplicações :  - Saúde e fatores de risco; - Alimentos e bebidas; - Medicamentos; - Na produção de tabaco; - Na indústria têxtil; - Pode ser utilizado como lubrificante em máquinas que fabricam produtos alimentícios; - Utilizado em misturas anticongelantes; - Utilizado para preservar bactérias a temperaturas baixas.</string>
				<key>Obtencao</key>
				<string>Todo o glicerol produzido no mundo, até 1949, era proveniente da indústria de sabão. Atualmente, 70% da produção de glicerol nos Estados Unidos ainda provém dos glicerídeos (óleos e gorduras naturais) e, o restante, da produção do glicerol sintético (subproduto da fabricação de propileno), da produção de ácidos graxos e também como subproduto transesterificação de ésteres, onde é substituída como álcool ligado aos de ácidos graxos pelo metanol ou etanol, resultando em biodiesel.</string>
			</dict>
			<key>FormulaMolecular</key>
			<string>C3H8O3</string>
			<key>Imagem</key>
			<string>composto_glicerina</string>
			<key>Nome</key>
			<string>Glicerina</string>
		</dict>
		<dict>
			<key>Elementos</key>
			<array>
				<string>Oxigênio</string>
				<string>Potássio</string>
				<string>Manganês</string>
			</array>
			<key>Info</key>
			<dict>
				<key>Aplicacao</key>
				<string>Aplicações :  - Saúde e fatores de risco; - Alimentos e bebidas; - Medicamentos; - Na produção de tabaco; - Na indústria têxtil; - Pode ser utilizado como lubrificante em máquinas que fabricam produtos alimentícios; - Utilizado em misturas anticongelantes; - Utilizado para preservar bactérias a temperaturas baixas.</string>
				<key>Obtencao</key>
				<string>Obtido pelos íons potássio (K+) e permanganato (MnO4−). É um forte agente oxidante. Tanto como sólido como em solução aquosa apresenta uma coloração violeta bastante intensa que, na proporção de 1,5g por litro de água (em média), torna-se vermelho forte.</string>
			</dict>
			<key>FormulaMolecular</key>
			<string>KMnO4</string>
			<key>Imagem</key>
			<string>composto_permanganatoPotassio</string>
			<key>Nome</key>
			<string>Permanganato de potássio</string>
		</dict>
		<dict>
			<key>Elementos</key>
			<array>
				<string>Oxigênio</string>
				<string>Hidrogênio</string>
				<string>Carbono</string>
			</array>
			<key>Info</key>
			<dict>
				<key>Aplicacao</key>
				<string>Aplicações :  - Saúde e fatores de risco; - Alimentos e bebidas; - Medicamentos; - Na produção de tabaco; - Na indústria têxtil; - Pode ser utilizado como lubrificante em máquinas que fabricam produtos alimentícios; - Utilizado em misturas anticongelantes; - Utilizado para preservar bactérias a temperaturas baixas.</string>
				<key>Obtencao</key>
				<string>Todo o glicerol produzido no mundo, até 1949, era proveniente da indústria de sabão. Atualmente, 70% da produção de glicerol nos Estados Unidos ainda provém dos glicerídeos (óleos e gorduras naturais) e, o restante, da produção do glicerol sintético (subproduto da fabricação de propileno), da produção de ácidos graxos e também como subproduto transesterificação de ésteres, onde é substituída como álcool ligado aos de ácidos graxos pelo metanol ou etanol, resultando em biodiesel.</string>
			</dict>
			<key>FormulaMolecular</key>
			<string>Pb(NO3)2</string>
			<key>Imagem</key>
			<string>composto_nitratoDeChumbo</string>
			<key>Nome</key>
			<string>Nitrato de chumbo II</string>
		</dict>
		<dict>
			<key>Elementos</key>
			<array>
				<string>Potássio</string>
				<string>Enxofre</string>
				<string>Oxigênio</string>
			</array>
			<key>Info</key>
			<dict>
				<key>Aplicacao</key>
				<string>Assim como o cloro e o sódio, está envolvido no balanço e distribuição de água, no equilíbrio osmótico, no equilíbrio ácido-base e na regulação da atividade neuromuscular. Promove, também, o crescimento celular. </string>
				<key>Obtencao</key>
				<string>O potássio é encontrado em vegetais, frutas, carnes, aves, peixes, leite e cereais. </string>
			</dict>
			<key>FormulaMolecular</key>
			<string>K2SO4</string>
			<key>Imagem</key>
			<string>composto_sulfatoDePotassio</string>
			<key>Nome</key>
			<string>Sulfato de potássio</string>
		</dict>
		<dict>
			<key>Elementos</key>
			<array>
				<string>Potássio</string>
				<string>Iodo</string>
			</array>
			<key>Info</key>
			<dict>
				<key>Aplicacao</key>
				<string>Iodeto de potássio é usado em fotografia, na preparação de iodeto de prata para filme fotográfico de alta velocidade</string>
				<key>Obtencao</key>
				<string>É obtido da reação do hidróxido de potássio com o iodo</string>
			</dict>
			<key>FormulaMolecular</key>
			<string>KI</string>
			<key>Imagem</key>
			<string>composto_iodetoDePotassio</string>
			<key>Nome</key>
			<string>Iodeto de Potássio</string>
		</dict>
		<dict>
			<key>Elementos</key>
			<array>
				<string>Potássio</string>
				<string>Nitrogênio</string>
				<string>Oxigênio</string>
			</array>
			<key>Info</key>
			<dict>
				<key>Aplicacao</key>
				<string>É usado pelas indústrias de alimentos que produzem carnes defumadas e embutidos (salsichas, linguiças, salames, etc.) a fim de evitar a proliferação de bactéria causadora do botulismo, que causa uma intoxicação alimentar grave. Serve também para ressaltar a cor e o sabor do alimento. </string>
				<key>Obtencao</key>
				<string>Atualmente, a maioria do nitrato de potássio vem dos vastos depósitos de nitrato de sódio existentes nos desertos chilenos. O nitrato de sódio é purificado e posteriormente colocado para reagir com uma solução de cloreto de potássio, na qual o nitrato de potássio obtido, menos solúvel, cristaliza.</string>
			</dict>
			<key>FormulaMolecular</key>
			<string>KNO3</string>
			<key>Imagem</key>
			<string>composto_nitratoDePotassio</string>
			<key>Nome</key>
			<string>Nitrato de Potássio</string>
		</dict>
		<dict>
			<key>Elementos</key>
			<array>
				<string>Magnésio</string>
				<string>Enxofre</string>
				<string>Oxigênio</string>
			</array>
			<key>Info</key>
			<dict>
				<key>Aplicacao</key>
				<string>Em agricultura e jardinagem o sulfato de magnésio é empregado como corretor da deficiência de magnésio no solo. Em uso local pode utilizar-se para o tratamento da unha encravada. O sulfato de magnésio oral e o hidróxido de magnésio se empregam como laxante para as grávidas. O sulfato de magnésio é empregado além disso como sais de banho, particularmente na terapia de flutuação, porque altas concentrações deste sal dissolvido em água aumentam a densidade da solução, o que faz que um corpo humano flutue como uma bóia.</string>
				<key>Obtencao</key>
				<string>O sulfato de magnésio pode ser obtido a partir de magnésio e ácido sulfúrico</string>
			</dict>
			<key>FormulaMolecular</key>
			<string>MgSO4</string>
			<key>Imagem</key>
			<string>composto_sulfatoDeMagnesio</string>
			<key>Nome</key>
			<string>Sulfato de Magnésio</string>
		</dict>
		<dict>
			<key>Elementos</key>
			<array>
				<string>Sódio</string>
				<string>Cloro</string>
			</array>
			<key>Info</key>
			<dict>
				<key>Aplicacao</key>
				<string>Embora a maioria das pessoas esteja familiarizada com os vários usos do sal na culinária, desconhece que a substância é utilizada em várias outras aplicações, como a manufatura de papel e a produção de sabão e detergentes.</string>
				<key>Obtencao</key>
				<string>Atualmente a água do mar, lagos, rios, e rochas podem conter sal. O processo de fabricação do sal é físico e não químico, dando-se por dissolução de sal gema com água quente injetada nas jazidas para a produção de salmoura. Após, procede-se a concentração, etapa que também é realizada com a água do mar e de lagos salgados, a cristalização do cloreto de sódio e a colheita e sua lavagem, e se adequado, refino e adição de compostos contendo iodo para o consumo humano.</string>
			</dict>
			<key>FormulaMolecular</key>
			<string>NaCl</string>
			<key>Imagem</key>
			<string>composto_cloretoDeSodio</string>
			<key>Nome</key>
			<string>Cloreto de sódio</string>
		</dict>
		<dict>
			<key>Elementos</key>
			<array>
				<string>Chumbo</string>
				<string>Nitrogênio</string>
				<string>Oxigênio</string>
			</array>
			<key>Info</key>
			<dict>
				<key>Aplicacao</key>
				<string>É usado como matéria prima para compostos de chumbo, fósforos de segurança, agente anticorrosivo e pigmentos para várias tintas.</string>
				<key>Obtencao</key>
				<string>O nitrato de potássio é obtido dissolvendo óxido de potássio em ácido nítrico</string>
			</dict>
			<key>FormulaMolecular</key>
			<string>Pb(NO3)2</string>
			<key>Imagem</key>
			<string>composto_nitratoDeChumbo</string>
			<key>Nome</key>
			<string>Nitrato de Chumbo</string>
		</dict>
	</array>
	<key>Receitas</key>
	<array>
		<dict>
			<key>Compostos</key>
			<dict>
				<key>Nitrato de Chumbo</key>
				<integer>1</integer>
				<key>Iodeto de Potássio</key>
				<integer>2</integer>
			</dict>
			<key>ItemGerado</key>
			<string>LiquidoAmarelo</string>
			<key>Descricao</key>
			<string>O líquido amarelo, apesar de parecer uma mistura homogênea é feito de dois compostos (portanto uma mistura heterogênea): Iodeto de Chumbo(um pó de cor amarelada) e o Nitrato de potássio (Um líquido de cor amarelada). </string>
			<key>Nome</key>
			<string>Líquido Amarelo</string>
		</dict>
		<dict>
			<key>Compostos</key>
			<dict>
				<key>Ácido Sulfúrico</key>
				<integer>1</integer>
				<key>Permanganato de potássio</key>
				<integer>2</integer>
			</dict>
			<key>ItemGerado</key>
			<string>Bombinhas</string>
			<key>Descricao</key>
			<string>A mistura gera uma reação onde pequenas explosões acontecem, não são o suficiente para queimar nada, mas conseguem assustar pela luminosidade e barulho gerados.</string>
			<key>Nome</key>
			<string>Pequenas Explosões</string>
		</dict>
		<dict>
			<key>Compostos</key>
			<dict>
				<key>Glicerina</key>
				<string>4</string>
				<key>Permanganato de potássio</key>
				<string>14</string>
			</dict>
			<key>ItemGerado</key>
			<string>geradorFogo</string>
			<key>Descricao</key>
			<string>A mistura é extremamente exotérmica (libera calor) e o fogo demora alguns segundos para aparecer. O Carbonato de Potássio, junto da água liberada na reação, causa o aumento da temperatura.</string>
			<key>Nome</key>
			<string>Fogo</string>
		</dict>
		<dict>
			<key>Compostos</key>
			<dict>
				<key>Ácido Sulfúrico</key>
				<integer>11</integer>
				<key>Açúcar (Sacarose)</key>
				<integer>1</integer>
			</dict>
			<key>ItemGerado</key>
			<string>Carbono</string>
			<key>Descricao</key>
			<string>O açúcar (sacarose) é composta de água e carbono. O ácido Sulfúrico, desidrata o açúcar, saindo em forma de gás com a água e deixando apenas o carbono na mistura</string>
			<key>Nome</key>
			<string>Carbono</string>
		</dict>
		<dict>
			<key>Compostos</key>
			<dict>
				<key>Nitrato de Potássio</key>
				<integer>2</integer>
				<key>Enxofre</key>
				<integer>1</integer>
				<key>Carbono</key>
				<integer>3</integer>
			</dict>
			<key>ItemGerado</key>
			<string>Pólvora</string>
			<key>Descricao</key>
			<string>A produção da póvoa é delicada pois fazem parte da mistura, elementos perigosos (inflamáveis) e deve ser feita longe de faíscas e do fogo.</string>
			<key>Nome</key>
			<string>Polvora</string>
		</dict>
	</array>
</dict>
</plist>
